{% extends 'agentbase.html' %}

{% block content %}
<content>
  <div class="container">
    <ul class="nav nav-pills nav-stacked col-md-2 alert alert-warning">
      <li class="active"><a href="/agency/home"> Notification </a></li>
      <li><a href="/agency/requirements"> Requirement Status </a></li>
      <li><a href="/agency/balance"> Balances </a></li>
      <li><a href="/agency/approved"> Total Approved Budget</a></li>
    </ul>
    
    <div class="col-md-4">
      <ul class="nav nav-tabs">
	<a class="btn btn-primary"  href="/agency/home?today=today">
	  Today &nbsp&nbsp&nbsp&nbsp
	</a>
	<a class="btn btn-primary"  href="/agency/home?today=all">
	All &nbsp&nbsp&nbsp&nbsp
	</a>
    </div> 
    
    
    <!-- <div class="row col-md-8"> -->
    <div class="col-md-10 panel panel-default">
      {% if notification %}
      <center><h1><i><small>{{Tmsg}}</small></i></h1></center>
      {%for notify in notification%}
      
      <h3> {{ notify.subject }} {{notify.today}}<small>  {{ notify.date_notify }} </small> </h3>
      <br>
      
      {% autoescape off %} <h4>&nbsp;&nbsp;&nbsp;&nbsp; {{ notify.msg }} </h4> {% endautoescape%}
      <hr/>
      {%endfor%}
    </div>
    {% else %}
    <div class="jumbotron col-md-10 panel panel-default">
      <h3> No notifications <small> as of today. <small> </h3>
    </div>
    {% endif %}
  </div>
</content>
{% endblock %}
