{% extends "agentbase.html" %}

{% block content %}
<content>
  <div class="container">
    {%include "./agency/side_bar.html"%}
    <div class="col-md-9">
      <h3>Allotment Releases for {{year}}</h3>
      <hr/>
      <form class="form-inline" action="/agency/releases" method="POST">
	{%csrf_token%}
	<div class="form-group">
	  <a href="" class="btn btn-default"><span class="glyphicon glyphicon-print"></span>&nbsp;Print</a>
	  &nbsp;||&nbsp;
	</div>
	<div class="form-group">
	  <select name="year" class="form-control">
	    <option value="2014">2014</option>
	  </select>
	</div>
	<div class="form-group">
	  <button type="submit" class="btn btn-primary">
	      <span class="glyphicon glyphicon-search"></span>
	  </button>
	</div>
      </form>
      </br>
      <table class="table-normal">
	{%load humanize%}
	<thead>
      	  <tr>
      	    <th>DATE</th>
      	    <th>ADA NO.</th>
      	    <th>PARTICULARS</th>
      	    <th>PS</th>
      	    <th>MOOE</th>
      	    <th>CO</th>
      	    <th>TOTAL RELEASES</th>
      	    <th>REMAINING BALANCE</th>
      	  </tr>
          <tr>
            <th colspan="3">APPROVED APPROPRIATON</th>
            <th style="text-align:right">{{ wfp_data_PS.total_sum|intcomma }}</th>
            <th style="text-align:right">{{ wfp_data_MOOE.total_sum|intcomma }}</th>
            <th style="text-align:right">{{ wfp_data_CO.total_sum|intcomma }}</th>
            <th></th>
            <th style="text-align:right">{{ remaining_balance|intcomma }}</th>
          </tr>
	</thead>
	<tbody>
      	  <tr style="font-weight: bold;">
      	    <td colspan="3">ALLOTMENT RELEASES</td>
      	    <td></td>
      	    <td></td>
      	    <td></td>
      	    <td></td>
      	    <td></td>
      	</tr>
          {% for key, value in allotments.items %}
	  <tr>
	    <td>{{ value.date_release|date:"d M" }}</td>
	    <td>{{ value.ada_no }}</td>
	    <td>{{ value.particulars }}</td>
	    
	    {% if value.allocation.name == 'PS' %}
	    <td style="text-align:right">{{ value.allocation.amount_release|intcomma }}</td>
	    <td></td>
	    <td></td>
	    {% elif value.allocation.name == 'MOOE' %}
	    <td></td>
	    <td style="text-align:right">{{ value.allocation.amount_release|intcomma }}</td>
	    <td></td>
	    {% else %}
	    <td></td>
	    <td></td>
	    <td style="text-align:right">{{ value.allocation.amount_release|intcomma }}</td>
	    {% endif %}
	    
	    <td style="text-align:right">{{ value.total_release|intcomma }}</td>
	    <td style="text-align:right">{{ value.remaining_balance|intcomma }}</td>	
	  </tr>
          {% endfor %}
	</tbody>
	<tfoot>
      	  <tr style="font-weight: bold;">
        	<td colspan="3">TOTAL RELEASES</td>
        	<td style="text-align:right">{{ total_PS|intcomma }}</td>
        	<td style="text-align:right">{{ total_MOOE|intcomma }}</td>
        	<td style="text-align:right">{{ total_CO|intcomma }}</td>
        	<td style="text-align:right">{{ total_release|intcomma }}</td>
        	<td></td>
        </tr>
          <tr  style="font-weight: bold;">
            <td colspan="3">TOTAL BALANCE</td>
            <td style="text-align:right">{{ total_PS_balance|intcomma }}</td>
            <td style="text-align:right">{{ total_MOOE_balance|intcomma }}</td>
            <td style="text-align:right">{{ total_CO_balance|intcomma }}</td>
            <td></td>
            <td style="text-align:right">{{ total_remaining_balance|intcomma }}</td>
          </tr>
	</tfoot>
      </table>
    </div>
</content>
{% endblock %}
