{% extends 'agentbase.html' %}

{% block content %}
<content>
  <div class="row">
      {%include "./agency/side_bar.html" %}
      <div class="col-sm-12" style="background-color:white;">
	<div class="row" style="background-color: white;">
	  <form action="/agency/approved" class="form-inline" role="form" method="POST">
	    {%csrf_token%}
	    <div class="col-sm-3" style="padding: 10px;text-align: center;">
	      <label> Filter by Year  </label>
	      {{year_form.year}}
	      <button type="submit" class="btn btn-default">
		<span class="glyphicon glyphicon-search">
	      </button>
	    </div>
	    <div class="col-sm-3 col-sm-offset-6" style="padding: 10px;text-align:right;">
	      <a href="javascript:$('#wfp_print').printArea();" class="btn btn-link">
		<span class="glyphicon glyphicon-print"></span>
		&nbsp;Print
	      </a>
	    </div>
	  </form>
	</div>
	{%if pss or mooes or cos%}
	<div id="wfp_print">
	  <table class="table-normal" style="font-size:10px;">
	    <caption>
	      <h4>{{year}}&nbsp;Work and Financial Plan</h4>
	      <h4>{{agency.name}}</h4>
	    </caption>
	    {%load humanize%}
	    <!---PS--->
	    <thead>
  	      <tr>
		<th>Program</th>
		<th colspan="5">Physical Target</th>
		<th colspan="13">Financial Target</th>
	      </tr>
	      <tr>
		<th></th>
		<th>Indicator</th>
		<th>Q1</th>
		<th>Q2</th>
		<th>Q3</th>
		<th>Q4</th>
		<th>Jan</th>
		<th>Feb</th>
		<th>Mar</th>
		<th>Apr</th>
		<th>May</th>
		<th>June</th>
		<th>July</th>
		<th>Aug</th>
		<th>Sept</th>
		<th>Oct</th>
		<th>Nov</th>
		<th>Dec</th>
		<th>Total</th>
	      </tr>
	    </thead>
	    <tbody>
	      {%if pss%}
	      <th colspan="19">Personnel Services</th>
	      {%for ps in pss%}
	      <tr>
		<th colspan="19">{{ps.prog}}</th>
	      </tr>
              {%for act in ps.acts%}
              <tr>
		<td>{{act.activity}}</td>
		<td>{{act.indicator}}</td>
		<td>{{act.q1}}</td>
		<td>{{act.q2}}</td>
		<td>{{act.q3}}</td>
		<td>{{act.q4}}</td>
		<td class="decimal">{{act.jan|intcomma}}</td>
		<td class="decimal">{{act.feb|intcomma}}</td>
		<td class="decimal">{{act.mar|intcomma}}</td>
		<td class="decimal">{{act.apr|intcomma}}</td>
		<td class="decimal">{{act.may|intcomma}}</td>
		<td class="decimal">{{act.jun|intcomma}}</td>
		<td class="decimal">{{act.jul|intcomma}}</td>
		<td class="decimal">{{act.aug|intcomma}}</td>
		<td class="decimal">{{act.sept|intcomma}}</td>
		<td class="decimal">{{act.oct|intcomma}}</td>
		<td class="decimal">{{act.nov|intcomma}}</td>
		<td class="decimal">{{act.dec|intcomma}}</td>
		<td class="decimal">{{act.total|intcomma}}</td>
	      </tr>
              {%endfor%}
	      {%endfor%}
	      {%endif%}
	      
	      {%if mooes%}
	      <th colspan="19">Maintenance and Other Operating Expenses</th>
	      {%for mooe in mooes%}
	      <tr>
		<th colspan="19">{{mooe.prog}}</th>
	      </tr>
              {%for act in mooe.acts%}
              <tr>
		<td>{{act.activity}}</td>
		<td>{{act.indicator}}</td>
		<td>{{act.q1}}</td>
		<td>{{act.q2}}</td>
		<td>{{act.q3}}</td>
		<td>{{act.q4}}</td>
		<td class="decimal">{{act.jan|intcomma}}</td>
		<td class="decimal">{{act.feb|intcomma}}</td>
		<td class="decimal">{{act.mar|intcomma}}</td>
		<td class="decimal">{{act.apr|intcomma}}</td>
		<td class="decimal">{{act.may|intcomma}}</td>
		<td class="decimal">{{act.jun|intcomma}}</td>
		<td class="decimal">{{act.jul|intcomma}}</td>
		<td class="decimal">{{act.aug|intcomma}}</td>
		<td class="decimal">{{act.sept|intcomma}}</td>
		<td class="decimal">{{act.oct|intcomma}}</td>
		<td class="decimal">{{act.nov|intcomma}}</td>
		<td class="decimal">{{act.dec|intcomma}}</td>
		<td class="decimal">{{act.total|intcomma}}</td>
	      </tr>
              {%endfor%}
	      {%endfor%}
	      {%endif%}
	  
	      {%if cos%}
	      <th colspan="19">Maintenance and Other Operating Expenses</th>
	      {%for co in cos%}
	      <tr>
		<th colspan="19">{{co.prog}}</th>
	      </tr>
              {%for act in cos.acts%}
              <tr>
		<td>{{act.activity}}</td>
		<td>{{act.indicator}}</td>
		<td>{{act.q1}}</td>
		<td>{{act.q2}}</td>
		<td>{{act.q3}}</td>
		<td>{{act.q4}}</td>
		<td class="decimal">{{act.jan|intcomma}}</td>
		<td class="decimal">{{act.feb|intcomma}}</td>
		<td class="decimal">{{act.mar|intcomma}}</td>
		<td class="decimal">{{act.apr|intcomma}}</td>
		<td class="decimal">{{act.may|intcomma}}</td>
		<td class="decimal">{{act.jun|intcomma}}</td>
		<td class="decimal">{{act.jul|intcomma}}</td>
		<td class="decimal">{{act.aug|intcomma}}</td>
		<td class="decimal">{{act.sept|intcomma}}</td>
		<td class="decimal">{{act.oct|intcomma}}</td>
		<td class="decimal">{{act.nov|intcomma}}</td>
		<td class="decimal">{{act.dec|intcomma}}</td>
		<td class="decimal">{{act.total|intcomma}}</td>
	      </tr>
              {%endfor%}
	      {%endfor%}
	      {%endif%}
	      <!----total--->
	      <tr>
		<th>Total</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th class="decimal">{{wfp_total.jan_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.feb_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.mar_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.apr_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.may_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.jun_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.jul_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.aug_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.sept_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.oct_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.nov_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.dec_total|intcomma}}</th>
		<th class="decimal">{{wfp_total.total|intcomma}}</th>
	      </tr>
	    </tbody>

	  </table>
	 {%else%}
	  <div class="jumbotron">
	    <p><span class="glyphicon glyphicon-info-sign"></span>&nbsp;Currently No encoded WFP for {{year}}</p>
	  </div>
	 {%endif%}
          </br></br>
	</div>
      </div>  
  </div>
</div>
</content>
{% endblock %}
