{% extends 'agentbase.html' %}

{% block content %}
<content>
  <div class="container">
    {%include "./agency/side_bar.html"%}
    
    {%if balances %}
    <div class="col-md-10" style="background-color: white;min-height: 550px;">
	<h3>Remaining Balances for the Year {{year}}</h3>
	<hr/>
      <table class="table table-bordered table-condensed">{%load humanize%}
	<tr class="alerta alert-info">
	  <th >Allocation</th>
	  <th style="text-align: right">Beginning Balance</th>
	  <th style="text-align: right">Release</th>
	  <th style="text-align: right">Ending Balance</th>
	</tr>
	{%for bal in balances%}
	<tr>
	  <th>
	    {{bal.allocation}}
	  </th>
	  <td style="text-align: right">
	    {{bal.beginning_bal|intcomma}}
	  </td>
	  <td style="text-align: right">
	  {{bal.release|intcomma}}
	  </td>
	  <td style="text-align: right">
	    {{bal.ending_bal|intcomma}}
	  </td>
	</tr>
	{%endfor%}
	<tr>
	  <th>Total</th>
	  <th style="text-align: right">{{total_balance.beginning_bal|intcomma}}</th>
	  <th style="text-align: right">{{total_balance.release|intcomma}}</th>
	  <th style="text-align: right">{{total_balance.ending_bal|intcomma}}</th>
	</tr>
      </table>
    </div>
    {%elif error%}
    <div class="jumbotron col-md-10">
      <h3> {{error}} <small>Please pick a year and click the search button</small><h3> 
    </div>
    {%else%}
    <div class="jumbotron col-md-10">
      <h3> Records not found! <small>Please try another year</small><h3> 
    </div>
    {%endif%}
  </div>
</content>
{% endblock %}
