{% extends 'agentbase.html' %}

{% block content %}
<content>
  <div class="container">
    <div class="col-sm-12" style="background-color:white; padding-bottom:30px;">
      <h3><span class="glyphicon glyphicon-lock"></span>&nbsp;Change Access Key</h3>
      <p>It's your first time to login and It's required that you change your password immediately</p>
      <hr>
      {%include "msg_pane.html"%}
      <div class="col-sm-4">
	<form action="" method="POST">
	  {%csrf_token%}
	  {{form.agency_id}}
	  <div class="form-group">
	    <label>Current Access key</label>
	    {{form.current_accesskey}}
	  </div>
	  
	  <div class="form-group">
	    <label>New Access key&nbsp;<small>[minimum of 8 characters]</small></label>
	    {{form.new_accesskey}}
	  </div>

	  <div class="form-group">
	    <label>Confirm new Access key</label>
	    {{form.confirm_accesskey}}
	  </div>
	  <button type="submit" class="btn btn-primary">
	    Change Access Key
	  </button>
	</form>
      </div>
    </div>
  </div>
</content>
{% endblock %}
