{% extends './agency/base.html' %}

{% block pagecontent %}
<div class="col-md-12" style="background-color: white; min-height: 550px;">
  <br>
  <form class="form-inline" id="monthly_report_search_form" method="POST" action="/agency/monthly_reports">{%csrf_token%}
    <div class="col-sm-6">
      {{year_form.year}}
      {{month_form.month}}
    </div> 
  </form>
  <div class="cols-sm-6" style="text-align:right">
    <a href="#" class="btn btn-default" data-toggle="modal" data-target="#monthlyreport_modal">
      <span class="glyphicon glyphicon-plus-sign"></span>
      Add
    </a>
    <a href="#" class="btn btn-default">
      <span class="glyphicon glyphicon-print"></span>
      Print
    </a>
  </div>
  <hr>
  <h3>Performance Report for {{str_month}}&nbsp;{{year}}</h3>
  <input type="hidden" id="month" value="{{month}}">
  <input type="hidden" id="year" value="{{year}}">
  
  <div class="col-sm-5"><!---start of program table container--->
    {%if monthly_reports%}
    <table class="table table-condensed table-responsive table-hover">
      {%load humanize%}
      <thead>
  	<tr>
  	  <th>Programs</th>
  	  <th style="text-align: right;">Options</th>
  	</tr>
      </thead>
      <tbody>
  	{%for acc in monthly_reports%}
  	<tr onclick="showAccomplishedTargets({{acc.activity.id}}, this)" id="{{acc.activity.id}}">
  	  <td style="width: 300px;">
  	    {{acc.activity}}
  	  </td>
	  <td style="text-align: right;">
	    <a href=""><span class="glyphicon glyphicon-edit"></span></a>&nbsp;
	    <a href=""><span class="glyphicon glyphicon-remove text-danger"></span></a>
	  </td>
	</tr>
  	{%endfor%}
      </tbody>
    </table>
    {%else%}
    <p class="alert alert-info">
      <span class="glyphicon glyphicon-info-sign"></span>&nbsp;
      No performance Report Found for this Month
    </p>
    {%endif%}
  </div><!--/end of programs table -->

  <!---start of physical accomplishments table --->
  <div class="col-sm-4 panel panel-default" id="performance_table" style="min-height: 400px;">
  </div><!--/end of acoomplished target table-->
  
  <!---start program report info-->
  <div class="col-sm-3" style="min-height: 400px;">
    <div id="notify_block" style="display: block; text-align:center; padding-top: 10px;"> 
      <i class="fa fa-question-circle fa-4x"></i><br>
      Select Accomplished program to show other details!
    </div>
    <div id="id_progrepcon">
      {%for acc in monthly_reports%}
      <div id="acc_{{acc.activity.id}}" style="display: none;">
	<b>RECEIVED</b> : <span>{{acc.received}}</span><br><br>
	<b>INCURRED</b> : <span>{{acc.incurred}}</span><br><br>
	<b>REMARKS</b> : <br><span>{{acc.remarks}}</span>
      </div>
      {%endfor%}
    </div>
  </div><!-- end of program report info -->
</div>

<!-----modals----->
{%include "./agency/monthly_report_form.html"%}

{%endblock%}

{% block scripts%}
<script type="text/javascript" src="/static/js/agency.js"></script>
<script language="javascript">
  function confirmDelActivityReport(performance_id, report_activity){
  var confirmation = confirm("Are you sure to delete '"+report_activity+"' from this report?");
  if (confirmation){
  window.location = "/agency/remove_report/"+performance_id+"/";
  }
  }
</script>
{%endblock scripts%}
