{% extends "agentbase.html" %}
{% block css%}
<script type="text/javascript" src="/static/js/list.js"></script>
{% endblock %}

{% block content %}
<content>
  <div class="container">
    {%include "./agency/side_bar.html" %}
    <div class="col-sm-12" style="background-color: white; min-height:580px;">
      <div style="padding: 10px;">
	<a href="/agency/monthly_reports">
	  <span class="glyphicon glyphicon-backward"></span>
	  &nbsp;Back
	</a>
      </div>
      <h4>Monthly Physical and Financial Report of Operation</h4>
      <hr/>
      {% include "msg_pane.html" %}
      <form action="/agency/add_performance_report" method="post" class="form-horizontal">
	{%csrf_token%}
	<input type="hidden" id="action" name="action" value="{{action}}">
	<input type="hidden" id="agency_id" name="agency_id" value="{{agency.id}}">
	{%if action == "edit"%}
	<input type="hidden" name="mpfro_id" value="{{activity_info.id}}">
	{%endif%}
	
	<div class="form-group">
	  <label class="col-sm-3">Month & Year</label>
	  <div class="col-sm-3">
	    {%if action == "add" %}
	    {{month_form.month}}
	    {%else%}
	    <label>{{str_month}} {{activity_info.year}}</label>
	    <input type="hidden" name="month" value="{{activity_info.month}}">
	    {%endif%}
	  </div>
	  <div class="col-sm-2">
	    {%if action == "add"%}
	       {{year_form.year}}
	    {%endif%}
	  </div>
	</div>
	
	<div class="form-group" id="activity_select">
	  <label class="col-sm-3">Activity</label>
	  <div class="col-sm-6">
	    {% if action == "add" %}
	    <select id="activity" name="activity" class="form-control" onchange="getPerformanceTarget()">
	      <option>-----Project/Activity-----</option>
	      {%for activity in activities%}
	      <option value="{{activity.id}}">{{activity.activity}}</option>
	      {%endfor%}
	    </select>
	    {%else%}
	    {{activity_info.activity.activity}}
	    {%endif%}
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-sm-3">Allotment Received</label>
	  <div class="col-sm-6">
	    <input type="number" class="form-control" id="received" name="received" required="required" {%if action == "edit" %} value="{{activity_info.received}}"{%endif%} onkeyup="showReportBalance()">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-sm-3">Obligation Incurred</label>
	  <div class="col-sm-6">
	    <input type="number" class="form-control" id="incurred" name="incurred" required="required" {%if action == "edit" %} value="{{activity_info.incurred}}" {%endif%} onkeyup="showReportBalance()">
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-sm-3">Remaining Balance</label>
	  <div class="col-sm-6" id="remaining_bal">
	    
	  </div>
	</div>

	
	<div class="form-group">
	  <label class="col-sm-3">Remarks</label>
	  <div class="col-sm-6">
	    <textarea name="remarks" class="form-control">{%if action == "edit" %} {{activity_info.remarks}}{%endif%}</textarea>
	  </div>
	</div>
	
	<div id="performance" class="col-sm-12 panel panel-default">
	  {%if action == "edit"%}
          <table class="table table-condensed">
	    <thead>
	      <tr>
		<th>Indicator</th>
		<th>Target</th>
		<th>Accomplished</th>
		<th style="text-align:right">Variance</th>
	      </tr>
	    </thead>
            {%for accomplishment in performance_accs%}
            <tr>
	      <input type="hidden" name="pt_ids[]" value="{{accomplishment.id}}">
	      <td>{{accomplishment.indicator}}</td>
	      <td id="target{{accomplishment.id}}">{{accomplishment.target}}</td>
	      <td width="20px" style="text-align: right">
		<input type="text" id="{{accomplishment.id}}" name="{{accomplishment.id}}" style="width:60px;" required="True" onkeyup="showVariance({{accomplishment.id}})" value="{{accomplishment.accomplished}}">
	      </td>
	      <td id="variance{{accomplishment.id}}" style="text-align: right;">{{accomplishment.variance}}</td>
	    </tr> 
            {%endfor%}
	  </table>
	  {%else%}
          <h4>Accomplishment</h4>
          <p class="alert alert-info">
	    Pls. Select an Activity
          </p>
	  {%endif%}
	</div>
	<input type="submit" class="btn btn-primary" value="Save">
      </form>
    </div>
  </div>
</content>
{% endblock %}
{%block scripts%}
  <script type="text/javascript" src="/static/js/wfp_ajax.js"></script>
  <script type="text/javascript" src="/static/js/fund_ajax.js"></script>
  <script language="javascript">
    $(document).ready(function(){
         showReportBalance();
    });
  </script>
  
{%endblock%}
  
