<ul class="nav nav-pills nav-stacked col-sm-2">
  <li {%if page == "requirements"%}class="active"{%endif%}><a href="/agency/requirements"> Requirement Status </a></li>
  <li {%if page == "balance"%}class="active"{%endif%}><a href="/agency/balance">Remaining Balances</a></li>
  <li {%if page == "wfp"%}class="active"{%endif%}><a href="/agency/approved">WFP</a></li>
  <li {%if page == "releases"%}class="active"{%endif%}><a href="/agency/releases">Allotment Releases</a></li>
  <li {%if page == "report"%}class="active"{%endif%}><a href="/agency/monthly_reports">Performance Report</a></li>
</ul>
