<ul class="nav nav-pills">
  <li role="presentation" {%if page == "requirements"%}class="active"{%endif%}><a href="/agency/requirements"> Requirement Status </a></li>
  <li role="presentation" {%if page == "balance"%}class="active"{%endif%}><a href="/agency/balance">Remaining Balances</a></li>
  <li role="presentation" {%if page == "wfp"%}class="active"{%endif%}><a href="/agency/approved">WFP</a></li>
  <li role="presentation" {%if page == "releases"%}class="active"{%endif%}><a href="/agency/releases">Allotment Releases</a></li>
  <li role="presentation" {%if page == "report"%}class="active"{%endif%}><a href="/agency/monthly_reports">Performance Report</a></li>
  <li role="presentation" {%if page == "co_request"%}class="active"{%endif%}><a href="/agency/co_request">Request Updates</a></li>
</ul>
