{% extends "./main/base.html" %}

{% block right-content %}
<div class="col-sm-12" style="background-color: white;">
  <h2> List of Agencies/Offices </h2>
  <hr/>
  <div class="col-sm-4" style=" min-height:450px;">
    {%include "./main/sectors.html"%}
  </div>

  <div class="col-sm-8" style="border-left: 1px solid rgb(204,204,204);min-height: 450px;">
    <div class="col-sm-8" style="text-align:left">
      <form method="POST" id='srch_stud' action="/main/agencies" class="form-search">
	{%csrf_token%}
	<div class="input-group">
	  <input name="agency" value="" id="search_agency" type="text" class="form-control" placeholder="Search......">
	  <span class="input-group-btn">
	    <button name="submit" value="submit" class="btn btn-success" type="submit">
	      <span class="glyphicon glyphicon-search"></span>
	    </button>
	  </span>
	</div><!-- /btn-group -->
	<a href="/main/agencies" class="btn btn-link">
	  <span class="glyphicon glyphicon-list"></span>
	  Show All
	</a>
      </form>
    </div>
    
    {% if has_add %}
    <div class="col-sm-4" style="text-align:right;">
      <a href="/main/pm_agency" class="btn btn-primary">
	<span class="glyphicon glyphicon-plus-sign"></span>
	&nbsp;Add
      </a>
    </div>
    {% endif %}
    <div class="col-sm-12 div">
      <hr/>
      <!---agency table-->
      {% include "./main/agency_table.html" %}
    </div>
  </div>
</div>
  {% endblock %}

{%block scripts%}
<script type="text/javascript">
  function confRmAgency(agency_id, name){
     var c = confirm("Are you to delete "+name+" from the list of agencies?");
     if (c){
       window.location = "/admin/rm_agency/"+agency_id;
     }
  }
</script>
{%endblock%}
  
  
