{% extends "./main/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="col-sm-12" style="background-color: white;min-height: 20px;">
    </br>
    <div class="navbar navbar-default">
      <div class="container-fluid">
	<form class="navbar-form navbar-left" role="search" action="/main/approved_budget" method="POST">
	  {% csrf_token %}
	  <div class="form-group">
	    <select name="year" class="form-control">
	      {%for year in years%}
	      <option value="{{year}}">{{year}}</option>
	      {%endfor%}
	    </select>
	  </div>
	  <button class="btn btn-default">
	    <span class="glyphicon glyphicon-search"></span>
	  </button>
	</form>
	<ul class="nav navbar-nav navbar-right">
	  <li>
	    <a href="javascript:$('#allot_print').printArea()">
	      <span class="glyphicon glyphicon-print"></span>
	      Print
	    </a>
	  </li>
	</ul>
      </div>
    </div>
    <div class="col-sm-12">
      <!-- <div class="col-sm-12"> -->
      <!-- <div class="col-sm-2"> -->
      <!--   <img src="/static/images/rbmo.jpg" width="100px" height="100px"> -->
      <!-- </div> -->
      <div class="col-sm-12 col-sm-xs col-md-12">
	<h3>RLA APPROVED BUDGET <small>CY {{year}}</small></h3>
      </div>
      <!-- <div class="col-sm-2 col-sm-offset-1"> -->
      <!--   <img src="/static/images/rbmo_logo.png" width="100px" height="100px"> -->
      <!-- </div> -->
      <!-- </div> -->
      
      <table border="1" class="table-normal">
	{%load humanize%}
	<thead>
	  <th class="center" colspan="2">AGENCY/OFFICE</th>
	  <th class="decimal">PS</th>
	  <th class="decimal">MOOE</th>
	  <th class="decimal">CO</th>
	  <th class="decimal">Total</th>
	</thead>
	<tbody>
	  <!----line agencies---->	    
	  {% if line_agencies %}
	  <tr>
	    <th colspan="6">Line Agencies</th>
	  </tr>
	  {%endif%}
	  {% for agency in line_agencies%}
	  <tr>
	    <td>{{agency.count}}</td>
	    <td>{{agency.name}}</td>
	    <td class="decimal">{{agency.ps|intcomma}}</td>
	    <td class="decimal">{{agency.mooe|intcomma}}</td>
	    <td class="decimal">{{agency.co|intcomma}}</td>
	    <td class="decimal">{{agency.total|intcomma}}</td>
	  </tr>
	  {%for sub_agency in agency.sub_agencies%}
	  <tr>
	    <td></td>
	    <td>{{sub_agency.count}}&nbsp;{{sub_agency.name}}</td>
	    <td class="decimal">{{sub_agency.ps|intcomma}}</td>
	    <td class="decimal">{{sub_agency.mooe|intcomma}}</td>
	    <td class="decimal">{{sub_agency.co|intcomma}}</td>
	    <td class="decimal">{{sub_agency.total|intcomma}}</td>
	  </tr>
	  {%endfor%}
	  {% endfor %}
	  <!----local agencies---->	    
	  {%if local_agencies%}
	  <tr>
	    <th colspan="6">Local Agencies</th>
	  </tr>
	  {%endif%}
	  {%for agency in local_agencies%}
	  <tr>
	    <td>{{agency.count}}</td>
	    <td>{{agency.name}}</td>
	    <td class="decimal">{{agency.ps|intcomma}}</td>
	    <td class="decimal">{{agency.mooe|intcomma}}</td>
	    <td class="decimal">{{agency.co|intcomma}}</td>
	    <td class="decimal">{{agency.total|intcomma}}</td>
	  </tr>
	  {%for sub_agency in agency.sub_agencies%}
	  <tr>
	    <td></td>
	    <td>{{sub_agency.count}}&nbsp;{{sub_agency.name}}</td>
	    <td class="decimal">{{sub_agency.ps|intcomma}}</td>
	    <td class="decimal">{{sub_agency.mooe|intcomma}}</td>
	    <td class="decimal">{{sub_agency.co|intcomma}}</td>
	    <td class="decimal">{{sub_agency.total|intcomma}}</td>
	  </tr>
	  {%endfor%}
	  {%endfor%}
          <!---total --->	       
	  <tr>
	    <th colspan="2">Grand Total</th>
	    <th class="decimal">{{total_budget.total_ps|intcomma}}</th>
	    <th class="decimal">{{total_budget.total_mooe|intcomma}}</th>
	    <th class="decimal">{{total_budget.total_co|intcomma}}</th>
	    <th class="decimal">{{total_budget.grand_total|intcomma}}</th>
	  </tr>
	</tbody>
      </table>
      </br></br>
    </div>
  </div>
</div>
{%include "./main/approved_budget_print.html"%}
{% endblock %}
{%block scripts%}
{%endblock%}

