{% extends "./main/base.html" %}

{%block css%}
<script language="javascript" type="text/javascript" src="/static/jquery.jqplot.1.0.8/dist/jquery.jqplot.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.1.0.8/dist/jquery.jqplot.css" />
{%endblock%}

{%block right-content%}
<div class="col-sm-12">
  <h2>Welcome, <small>{{user.get_full_name}}</small></h2>
  
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
	<h3>Agencies Remaining Balances for Fiscal Year - {{year}}</h3>
	<p>Below are the list of agencies and their remaining balances for budget allocated for the year {{year}}  </p>
      </div>
      <table class="table" style="font-size:12px;">
	<tbody>
	  {% load humanize %}
	  {%if line_agencies%}
	  <tr style="background-color:rgba(0,0,0,0.7);color:white">
	    <th colspan="2">Line Agencies</th>
	    <th class="decimal">PS</th>
	    <th class="decimal">MOOE</th>
	    <th class="decimal">CO</th>
	    <th class="decimal">TOTAL</th>
	  </tr>
	  {%endif%}
	  {%for agency in line_agencies %}
    	     <tr>
	       <td>{{agency.count}}</td>
	       <td>{{agency.agency_name}}</td>
	       <td class="decimal">{{agency.ps|intcomma}}</td>
	       <td class="decimal">{{agency.mooe|intcomma}}</td>
	       <td class="decimal">{{agency.co|intcomma}}</td>
	       <td class="decimal">{{agency.balance|intcomma}}</td>
	     </tr>
	     {%for sub_agency in agency.sub_agencies%}
	        <tr>
		  <td></td>
		  <td>{{sub_agency.count}}&nbsp;{{sub_agency.agency_name}}</td>
		  <td class="decimal">{{sub_agency.ps|intcomma}}</td>
		  <td class="decimal">{{sub_agency.mooe|intcomma}}</td>
		  <td class="decimal">{{sub_agency.co|intcomma}}</td>
		  <td class="decimal">{{sub_agency.balance|intcomma}}</td>
		</tr>
	     {%endfor%}
	  {% endfor %}
          <!--local agencies-->
	  {%if local_agencies%}
	  <tr style="background-color:rgba(0,0,0,0.7);color:white">
	    <th colspan="2">Locally Funded Agencies</th>
	    <th class="decimal">PS</th>
	    <th class="decimal">MOOE</th>
	    <th class="decimal">CO</th>
	    <th class="decimal">TOTAL</th>
	  </tr>
	  {%endif%}
	  {%for agency in local_agencies %}
    	     <tr>
	       <td>{{agency.count}}</td>
	       <td>{{agency.agency_name}}</td>
	       <td class="decimal">{{agency.ps|intcomma}}</td>
	       <td class="decimal">{{agency.mooe|intcomma}}</td>
	       <td class="decimal">{{agency.co|intcomma}}</td>
	       <td class="decimal">{{agency.balance|intcomma}}</td>
	     </tr>
	     {%for sub_agency in agency.sub_agencies%}
	        <tr>
		  <td></td>
		  <td>{{sub_agency.count}}&nbsp;{{sub_agency.agency_name}}</td>
		  <td class="decimal">{{sub_agency.ps|intcomma}}</td>
		  <td class="decimal">{{sub_agency.mooe|intcomma}}</td>
		  <td class="decimal">{{sub_agency.co|intcomma}}</td>
		  <td class="decimal">{{sub_agency.balance|intcomma}}</td>
		</tr>
	     {%endfor%}
	  {% endfor %}

	  <tr>
	    <th colspan="2">GRAND TOTAL</th>
	    <th style="text-align:right">{{total_sum.total_ps|intcomma}}</th>
	    <th style="text-align:right">{{total_sum.total_mooe|intcomma}}</th>
	    <th style="text-align:right">{{total_sum.total_co|intcomma}}</th>
	    <th style="text-align:right">{{total_sum.total_balance|intcomma}}</th>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
  <div id="chartdiv" style="height:400px;width:300px;"></div>
</div>
{%endblock%}
