{% extends "./main/base.html" %}
{% block css%}
<script type="text/javascript" src="/static/js/list.js"></script>
{% endblock %}

{% block left-content %}
  {% include "./admin/agency_tabs.html" %}
{% endblock %}

{% block right-content %}
<div class="col-sm-9" style="min-height:500px;background-color:white;padding-bottom: 40px;">
  <h3>{{agency.name}}</h3>
  <h3><small>Monthly Physical and Financial Report of Operation</small></h3>
  <a href="/admin/monthly_reports/{{agency.id}}/">
    <span class="glyphicon glyphicon-backward"></span>
    Back
  </a>
  <hr/>
  {% include "msg_pane.html" %}
  <form action="/admin/add_performance_report" method="post" class="form-horizontal">
    {%csrf_token%}
    <input type="hidden" name="action" value="{{action}}">
    <input type="hidden" name="agency_id" value="{{agency.id}}">
    {%if action == "edit"%}
       <input type="hidden" name="mpfro_id" value="{{activity_info.id}}">
    {%endif%}

    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-3">
	{%if action == "add" %}
	   {{month_form.month}}
	{%else%}
	   <label>{{str_month}} {{activity_info.year}}</label>
	   <input type="hidden" name="month" value="{{activity_info.month}}">
	{%endif%}
      </div>
      <div class="col-sm-2">
	{%if action == "add"%}
	<select name="year" class="form-control">
	  {%for yr in years%}
	  <option value="{{yr}}">{{yr}}</option>
	  {%endfor%}
	</select>
	{%endif%}
      </div>
      <div class="col-sm-1">
	{%if action == "add"%}
	<button type="button" class="btn btn-default">
	  <span class="glyphicon glyphicon-search"></span>
	</button>
	{%endif%}
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3">Activity</label>
      <div class="col-sm-6">
	{% if action == "add" %}
	<select id="activity" name="activity" class="form-control" onchange="getPerformanceTarget()">
	  <option>-----Project/Activity-----</option>
	  {%for activity in activities%}
	  <option value="{{activity.id}}">{{activity.activity}}</option>
	  {%endfor%}
	</select>
	{%else%}
	  {{activity_info.activity.activity}}
	{%endif%}
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3">Allotment Received</label>
      <div class="col-sm-6">
	<input type="number" class="form-control" name="received" required="required" {%if action == "edit"%}value="{{activity_info.received}}"{%endif%}>
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3">Obligation Incurred</label>
      <div class="col-sm-6">
	<input type="number" class="form-control" name="incurred" required="required" {%if action == "edit"%}value="{{activity_info.incurred}}"{%endif%}>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3">Remarks</label>
      <div class="col-sm-6">
	<textarea name="remarks" class="form-control">{%if action == "edit"%}{{activity_info.remarks}}{%endif%}</textarea>
      </div>
    </div>

    <div id="performance" class="col-sm-12 panel panel-default">
      {%if action == "edit"%}
         <table class="table table-condensed">
	   <thead>
	     <tr>
	     <th>Indicator</th>
	     <th>Target</th>
	     <th>Accomplished</th>
	     </tr>
	   </thead>
         {%for accomplishment in performance_accs%}
           <tr>
	     <input type="hidden" name="pt_ids[]" value="{{accomplishment.id}}">
	     <td>{{accomplishment.indicator}}</td>
	     <td>{{accomplishment.target}}</td>
	     <td>
	       <input type="text" name="{{accomplishment.id}}" value="{{accomplishment.accomplished}}">
	     </td>
	   </tr> 
         {%endfor%}
	 </table>
      {%else%}
         <h4>Accomplishment</h4>
         <p class="alert alert-info">
	   Pls. Select an Activity
         </p>
      {%endif%}
    </div>
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
</div>
{% endblock %}
{%block scripts%}
<script type="text/javascript" src="/static/js/wfp_ajax.js"></script>
{%endblock%}

