<div class="col-sm-12" id="trans_let_id" style="display:none">
  <div style="position:relative; width: 100%; height: 120px; border-bottom: 1px solid">
    <div style="position:absolute;left: 30px; top:0px; width: 150px;">
      <img src="/static/images/rbmo.jpg" width="100px" height="100px">
    </div>
    <div style="position: absolute; left: 180px; top:0px; width:330px">
      <center>
	<p>
	  Republic of the Philipines</br>
	  Autonomous Region in Muslim Mindanao</br>
	  <b>Office of the Regional Governor</b></br>
	  <b>Regional Budget Management Office</b></br>
	  Cotabato City
	</p>
      </center>
    </div>
    <div style="position: absolute; top:0px; left: 550px; width:150px;">
      <img src="/static/images/rbmo_logo.png" width="100px" height="100px">
    </div>
  </div>
  </br>
  <div class="col-sm-12">
    <div class="col-sm-12">
      {{cur_date}}
    </div>
    </br></br></br>
    <div class="col-sm-12">
      <p>
      <b><span id="reg_tresurer_name"></span></b>
     </br>
      Regional Treasurer</br>
      ORT-ARMM</br>
      </p>
    </div>
    </br></br>
    <div class="col-sm-12">
      ATTENTION:
      <div class="col-sm-5">
	  <p>
	    <b><span id="fiscal_name"></span></b></br>
	    Fiscal Examiner V
	  </p></br>
      </div>
    </div>  
    <div class="col-sm-12" id="letter_content">
    </div>
    <div class="col-sm-12">
      </br>
      <p>
	APPROVED:</br></br>
	<b><span id="letter_oic"></span></b></br>
	Executive Director
      </p>
    </div>
  </div>
</div>
  
