{% extends "./main/base.html" %}

{%block right-content%}
<div class="col-sm-10 col-sm-offset-1" style="background-color: white;min-height: 600px;padding-top: 20px;">
  {%include "./main/user_search_form.html"%}
  <hr>
  <h2>{{page_title}}</h2>
  {%include "./main/users_table.html"%}
</div>
{%endblock%}

{%block scripts%}
  <script language="javascript">
    function changeUserStatus(user_id, status){
       var data = {user_id : user_id,
                   status  : status}
       $.get("/main/change_status", data, function(rs){
           var html = "";
           rs = new String(rs).trim()
           if (rs=="1"){
              //enabled
              html = "<input type='checkbox' id='"+user_id+"' title='Uncheck to disable this account' onchange='changeUserStatus("+user_id+",0)' checked><span class='text-success'>Yes</span>";
              $("#status"+user_id).html(html);
           }
           if(rs=="0"){
              //disabled
              html = "<input type='checkbox' id='"+user_id+"' title='Check to enable this account' onchange='changeUserStatus("+user_id+",1)'> No";
              $("#status"+user_id).html(html);

           }
       });
    }
  </script>
{%endblock scripts%}
