{% extends "./main/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="col-sm-12" style="background-color: white; min-height: 20px;padding-top: 20px;">
    <form action="/admin/yearly_fund" class="form-inline" style="margin-bottom:24px">
      <div class="form-group">
        <select id="year_choose" name="year_choose" class="form-control">
	      <option>----Select Allocated Year----</option>
              {% for year in year_choices %}
              <option value="{{year}}">{{year}}</option>
              {% endfor %}
        </select>
        <div class="form-group">
          <button class="btn btn-primary btn-small">Generate Report</button>
        </div>
      </div>
      <div class="form-group pull-right">
	<a href="#" class="btn btn-default">
	  <span class="glyphicon glyphicon-print"></span>
	  &nbsp;Print
	</a>
      </div>
    </form>
    <hr/>
  
    <center><h3>Allocation of {{cur_year}} Fund</h3></center>
    </br>
    <div class="col-sm-5 panel panel-default">
      <table class="table table-condensed">
	{%load humanize%}
	<thead>
	  <th>Fund</th>
	  <th>Allocation</th>
	  <th>Percentage(%)</th>
	</thead>
	<tbody>
	  <tr>
	    <th>PS</th>
	    <td id="ps_amount">{{fund.ps_amount|intcomma}}</td>
	    <td id="ps_percentile">{{fund.ps_percentile|floatformat}}</td>
	  </tr>
	  <tr>
	    <th>MOOE</th>
	    <td id="mooe_amount">{{fund.mooe_amount|intcomma}}</td>
	    <td id="mooe_percentile">{{fund.mooe_percentile|floatformat}}</td>
	  </tr>
	  <tr>
	    <th>CO</th>
	    <td id="co_amount">{{fund.co_amount|intcomma}}</td>
	    <td id="co_percentile">{{fund.co_percentile|floatformat}}</td>
	  </tr>
	  <tr>
	    <th>Total</th>
	    <td id="total_fund">{{fund.total_fund|intcomma|floatformat}}</td>
	    <td>100</td>
	  </tr>
	</tbody>
      </table>
    </div>

    <div class="col-sm-7">
      <form class="form-inline">
	<div class="form-group">
	  <select id="chart_type" name="chart_type" class="form-control" onchange="renderChart($(this).val())">
	    <option value="bar">Bar</option>
	    <option value="pie">Pie</option>
	  </select>
	</div>
      </form>
      <div class="col-sm-12" id="fund_chart" style="width:100%; height:350px;">
      </div>
    </div>
  </div>
    
{% endblock %}

{%block scripts%}
<script language="javascript" type="text/javascript" src="/static/jquery.jqplot.1.0.8/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.jqplot.1.0.8/plugins/jqplot.pieRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.1.0.8/jquery.jqplot.css" />
<script language="javascript" type="text/javascript" src="/static/js/reportcharts.js"></script>

<script type="text/javascript" src="/static/jquery.jqplot.1.0.8/plugins/jqplot.dateAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/jquery.jqplot.1.0.8/plugins/jqplot.canvasTextRenderer.min.js"></script>
<script type="text/javascript" src="/static/jquery.jqplot.1.0.8/plugins/jqplot.canvasAxisTickRenderer.min.js"></script>
<script type="text/javascript" src="/static/jquery.jqplot.1.0.8/plugins/jqplot.categoryAxisRenderer.min.js"></script>
<script type="text/javascript" src="/static/jquery.jqplot.1.0.8/plugins/jqplot.barRenderer.min.js"></script>
<script language="javascript" type="text/javascript">
  $(document).ready(function(){
     renderChart("bar");
  });

  function renderChart(chart_type){
     $('#fund_chart').html('');
     var ps_percentile = new Number($('#ps_percentile').html());
     var mooe_percentile = new Number($('#mooe_percentile').html());
     var co_percentile = new Number($('#co_percentile').html());

     var data = [['PS', ps_percentile], 
                 ['MOOE', mooe_percentile],
                 ['CO', co_percentile]
                ]

    if (chart_type=="bar"){
       loadBarChart('fund_chart', data);
    }else if(chart_type=="graph"){
     
    }else{//pie
       loadPieChart('fund_chart', data);
    }
  }

</script>

{%endblock%}

