{% extends "./admin/base.html" %}

{% block content %}
<content style="background-color:white"
  <div class="col-sm-12">
    <form class="form-inline">
      <a href="javascript:$('#wfp_print').printArea()" class="btn btn-primary">
	<span class="glyphicon glyphicon-print"></span>&nbsp;
	Print
      </a>
    </form>
  </div>
  <div class="col-sm-12" style="left:0px" id="wfp_print">
    <div class="col-sm-12" style="text-align:center;">
      <h3>Autonomous Region of Muslim Mindanao</h3>
      <h4>Work and Financial Plan for {{year}}</h4>
    </div>
      <h3>Agency: <small>{{agency.name}}</small></h3>
    <table class="table-normal" style="font-size:10px;">
      {%load humanize%}
	<!---PS--->
	{%if pss or mooes or cos%}
           <thead>
  	      <tr>
		<th>Program</th>
		<th colspan="5">Physical Target</th>
		<th colspan="13">Financial Target</th>
	      </tr>
	      <tr>
		<th></th>
		<th>Indicator</th>
		<th>Q1</th>
		<th>Q2</th>
		<th>Q3</th>
		<th>Q4</th>
		<th>Jan</th>
		<th>Feb</th>
		<th>Mar</th>
		<th>Apr</th>
		<th>May</th>
		<th>June</th>
		<th>July</th>
		<th>Aug</th>
		<th>Sept</th>
		<th>Oct</th>
		<th>Nov</th>
		<th>Dec</th>
		<th>Total</th>
	      </tr>
	   </thead>
	   <tbody>
	     {%if pss%}
	        <th colspan="19">Personnel Services</th>
	        {%for ps in pss%}
	           <tr>
		     <th colspan="19">{{ps.prog}}</th>
		   </tr>
                   {%for act in ps.acts%}
                     <tr>
		       <td>{{act.activity}}</td>
		       <td>{{act.indicator}}</td>
		       <td>{{act.q1}}</td>
		       <td>{{act.q2}}</td>
		       <td>{{act.q3}}</td>
		       <td>{{act.q4}}</td>
		       <td class="decimal">{{act.jan|intcomma}}</td>
		       <td class="decimal">{{act.feb|intcomma}}</td>
		       <td class="decimal">{{act.mar|intcomma}}</td>
		       <td class="decimal">{{act.apr|intcomma}}</td>
		       <td class="decimal">{{act.may|intcomma}}</td>
		       <td class="decimal">{{act.jun|intcomma}}</td>
		       <td class="decimal">{{act.jul|intcomma}}</td>
		       <td class="decimal">{{act.aug|intcomma}}</td>
		       <td class="decimal">{{act.sept|intcomma}}</td>
		       <td class="decimal">{{act.oct|intcomma}}</td>
		       <td class="decimal">{{act.nov|intcomma}}</td>
		       <td class="decimal">{{act.dec|intcomma}}</td>
		       <td class="decimal">{{act.total|intcomma}}</td>
		     </tr>
                   {%endfor%}
	        {%endfor%}
	     {%endif%}

	     {%if mooes%}
	        <th colspan="19">Maintenance and Other Operating Expenses</th>
	        {%for mooe in mooes%}
	           <tr>
		     <th colspan="19">{{mooe.prog}}</th>
		   </tr>
                   {%for act in mooe.acts%}
                     <tr>
		       <td>{{act.activity}}</td>
		       <td>{{act.indicator}}</td>
		       <td>{{act.q1}}</td>
		       <td>{{act.q2}}</td>
		       <td>{{act.q3}}</td>
		       <td>{{act.q4}}</td>
		       <td class="decimal">{{act.jan|intcomma}}</td>
		       <td class="decimal">{{act.feb|intcomma}}</td>
		       <td class="decimal">{{act.mar|intcomma}}</td>
		       <td class="decimal">{{act.apr|intcomma}}</td>
		       <td class="decimal">{{act.may|intcomma}}</td>
		       <td class="decimal">{{act.jun|intcomma}}</td>
		       <td class="decimal">{{act.jul|intcomma}}</td>
		       <td class="decimal">{{act.aug|intcomma}}</td>
		       <td class="decimal">{{act.sept|intcomma}}</td>
		       <td class="decimal">{{act.oct|intcomma}}</td>
		       <td class="decimal">{{act.nov|intcomma}}</td>
		       <td class="decimal">{{act.dec|intcomma}}</td>
		       <td class="decimal">{{act.total|intcomma}}</td>
		     </tr>
                   {%endfor%}
	        {%endfor%}
	     {%endif%}

	     {%if cos%}
	        <th colspan="19">Maintenance and Other Operating Expenses</th>
	        {%for co in cos%}
	           <tr>
		     <th colspan="19">{{co.prog}}</th>
		   </tr>
                   {%for act in cos.acts%}
                     <tr>
		       <td>{{act.activity}}</td>
		       <td>{{act.indicator}}</td>
		       <td>{{act.q1}}</td>
		       <td>{{act.q2}}</td>
		       <td>{{act.q3}}</td>
		       <td>{{act.q4}}</td>
		       <td class="decimal">{{act.jan|intcomma}}</td>
		       <td class="decimal">{{act.feb|intcomma}}</td>
		       <td class="decimal">{{act.mar|intcomma}}</td>
		       <td class="decimal">{{act.apr|intcomma}}</td>
		       <td class="decimal">{{act.may|intcomma}}</td>
		       <td class="decimal">{{act.jun|intcomma}}</td>
		       <td class="decimal">{{act.jul|intcomma}}</td>
		       <td class="decimal">{{act.aug|intcomma}}</td>
		       <td class="decimal">{{act.sept|intcomma}}</td>
		       <td class="decimal">{{act.oct|intcomma}}</td>
		       <td class="decimal">{{act.nov|intcomma}}</td>
		       <td class="decimal">{{act.dec|intcomma}}</td>
		       <td class="decimal">{{act.total|intcomma}}</td>
		     </tr>
                   {%endfor%}
	        {%endfor%}
	     {%endif%}
	<!----total--->
	     <tr>
	       <th>Total</th>
	       <th></th>
	       <th></th>
	       <th></th>
	       <th></th>
	       <th></th>
	       <th class="decimal">{{wfp_total.jan_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.feb_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.mar_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.apr_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.may_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.jun_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.jul_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.aug_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.sept_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.oct_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.nov_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.dec_total|intcomma}}</th>
	       <th class="decimal">{{wfp_total.total|intcomma}}</th>
	     </tr>
	   </tbody>
	{%endif%}
    </table>
    </br></br>
</div>
</content>
{% endblock %}

