{% extends "print_base.html" %}

{% block content %}
<content>
  <div class="container">
    <center>
      <h5>AUTONOMOUS REGION IN MUSLIM MINDANAO</h5>
      <p>Monthly Cash Allocation for {{year}}</p>
    </center>
    <div style="position:absolute; left: 10px;">
      <b>Agency Name: </b>&nbsp;
      {{agency.name}}
    </div>
    <div style="left: 10px; position: absolute;margin-top:30px; width=100%;">
      <table class="table">
	<thead>
	  <tr>
	    <th>Program</th>
	    <th>Jan</th>
	    <th>Feb</th>
	    <th>Mar</th>
	    <th>Apr</th>
	    <th>May</th>
	    <th>June</th>
	    <th>July</th>
	    <th>Aug</th>
	    <th>Sept</th>
	    <th>Oct</th>
	    <th>Nov</th>
	    <th>Dec</th>
	  </tr>
	</thead>
	<tbody>
	   {% for data in wfp_data %}
	   <tr>
	     <td>{{data.activity}}</td>
	     <td>{{data.jan}}</td>
	     <td>{{data.feb}}</td>
	     <td>{{data.mar}}</td>
	     <td>{{data.apr}}</td>
	     <td>{{data.may}}</td>
	     <td>{{data.jun}}</td>
	     <td>{{data.jul}}</td>
	     <td>{{data.aug}}</td>
	     <td>{{data.sept}}</td>
	     <td>{{data.oct}}</td>
	     <td>{{data.nov}}</td>
	     <td>{{data.dec}}</td>
	   </tr>
	   {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</content>
{% endblock %}

