{% extends "print_base.html" %}

{% block content %}
<content>
  <div class="container">
    <center>
      <h5>AUTONOMOUS REGION IN MUSLIM MINDANAO</h5>
      <p>Monthly Cash Allocation for {{year}}</p>
    </center>
      <b>Agency Name: </b>&nbsp;
      {{agency.name}}
    <table class="table-normal">
      {%load humanize%}
      <thead>
	<tr>
	  <th>Program</th>
	  <th>Jan</th>
	  <th>Feb</th>
	  <th>Mar</th>
	  <th>Apr</th>
	  <th>May</th>
	  <th>June</th>
	  <th>July</th>
	  <th>Aug</th>
	  <th>Sept</th>
	  <th>Oct</th>
	  <th>Nov</th>
	  <th>Dec</th>
	</tr>
      </thead>
      <tbody>
	{% for data in wfp_data %}
	<tr>
	  <td>{{data.activity}}</td>
	  <td>{{data.jan|intcomma}}</td>
	  <td>{{data.feb|intcomma}}</td>
	  <td>{{data.mar|intcomma}}</td>
	  <td>{{data.apr|intcomma}}</td>
	  <td>{{data.may|intcomma}}</td>
	  <td>{{data.jun|intcomma}}</td>
	  <td>{{data.jul|intcomma}}</td>
	  <td>{{data.aug|intcomma}}</td>
	  <td>{{data.sept|intcomma}}</td>
	  <td>{{data.oct|intcomma}}</td>
	  <td>{{data.nov|intcomma}}</td>
	  <td>{{data.dec|intcomma}}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
</div>
</content>
{% endblock %}

