{% if agencies %}
<table class="table table-condensed">
  <thead>
    <th></th>
    <th>Agency/Office</th>
    <th>Email</th>
  </thead>
  <tbody>
    {%for agency in agencies%}
    <tr onclick="window.location = '/admin/manage_agency_docs?agency_id={{agency.id}}'"
       onmouseover="$(this).addClass('warning')" onmouseout="$(this).removeClass()" style="cursor: pointer">
      <td>
	<a href="/admin/pm_agency?action=edit&a_id={{agency.id}}" title="Edit this Agency/Office">
	  <span class="glyphicon glyphicon-edit"></span>&nbsp;
	</a>
      </td>
      <td>{{agency.name}}</td>
      <td>{{agency.email}}</td>
    </tr>
    {%endfor%}
  </tbody>
</table>
{% else %}
<div class="alert alert-warning">
  <b>No Agencies/Offices Found!</b>
</div>
{% endif %}
