{% extends "./admin/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="col-sm-8 col-sm-offset-2">
    <form action="/admin/agencies_with_increqs" class="form-inline" method="POST">{%csrf_token%}
      <a href="javascript:$('#pie_chart').printArea()" class="btn btn-default">
	<span class="glyphicon glyphicon-print"></span>
	Print
      </a>
      &nbsp;|&nbsp;
      <div class="form-group">
	{{form.month}}
      </div>
      <div class="form-group">
	<button type="submit" class="btn btn-default">
	  <span class="glyphicon glyphicon-search"></span>
	</button>
      </div>
    </form>
    <hr/>
  </div>
  </br></br>
  <div class="col-sm-8 col-sm-offset-2"> 

    {%if agencies%}
    <center>
      <h4>Agencies with Incomplete Requirements</h4>
      <h5>For {{month_str}}-{{year}}</h5>
    </center>
      <table class="table-normal">
	<thead>
	  <caption><b>Total: {{total}} agencie(s)</b></caption>
	  <tr>
	    <th colspan="2">Agencies</th>
	    <th>Requirements Lacking</th>
	  </tr>
	</thead>
        {% for agency in agencies %}
        <tr>
	  <td width="30px" align="center">{{agency.count}}</td>
	  <td>{{agency.name}}</td>
	  <td>
	    <ul>
	    {%for req in agency.reqs%}
	       <li>{{req.name}}</li>
	    {%endfor%}
	    </ul>
	  </td>
	</tr>
        {% endfor %}
      </table>
    {%else%}
      <div class="alert alert-info">
	Currently No Agencies have Incomplete requirements for <b>{{month_str}} - {{year}}</b>
      </div>
      </div>
    {%endif%}
  </div>
</div>
{% endblock %}

{%block scripts%}

<script language="javascript" type="text/javascript" src="/static/jquery.jqplot.1.0.8/jquery.jqplot.min.js"></script>
<script language="javascript" type="text/javascript" src="/static/jquery.jqplot.1.0.8/plugins/jqplot.pieRenderer.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.1.0.8/jquery.jqplot.css" />
<script language="javascript" type="text/javascript" src="/static/js/reportcharts.js" ></script>

{%endblock%}

