{% extends "./admin/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="col-sm-12" style="background-color: white; min-height: 550px;">
    <h3>TOTAL FUND RELEASE&nbsp;<small>As of {{today}}</small></h3>
    <hr/>
    <div class="col-sm-12">
      <a href="javascript:$('#allot_print').printArea()" class="btn btn-default">
	<span class="glyphicon glyphicon-print"></span>
	Print
      </a>
    </div>
    </br></br>
    <div class="col-sm-12">
      {% if agencies_releases %}
      <div class="col-sm-12">
	<table border="1" class="table-normal">
	  {%load humanize%}
	  <thead>
	    <tr>
	      <th colspan="2" class="center">Agency/Office</th>
	      <th class="center">PS</th>
	      <th class="center">MOOE</th>
	      <th class="center">CO</th>
	      <th class="center">TOTAL</th>
	    </tr>
	  </thead>
	  {% for releases in agencies_releases%}
	  <tr>
	    <td>{{releases.count}}</td>
	    <td>{{releases.agency}}</td>
	    <td class="decimal">{{releases.ps|intcomma}}</td>
	    <td class="decimal">{{releases.mooe|intcomma}}</td>
	    <td class="decimal">{{releases.co|intcomma}}</td>
	    <td class="decimal">{{releases.total|intcomma}}</td>
	  </tr>
	  {% endfor %}
	  <tr>
	    <th colspan="2">Grand Total</th>
	    <th class="decimal">{{grand_total.ps|intcomma}}</th>
	    <th class="decimal">{{grand_total.mooe|intcomma}}</th>
	    <th class="decimal">{{grand_total.co|intcomma}}</th>
	    <th class="decimal">{{grand_total.total|intcomma}}</th>
	  </tr>
	</table>
    </br></br>
    {% endif %}
      </div>
    </div>
  </div>
</div>
    {%include "./admin/allotment_releases_print.html"%}
    {% endblock %}
    {%block scripts%}
    {%endblock%}
    
