{% extends "./admin/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="col-sm-12">
    <form class="form-inline" action="/admin/approved_budget" method="POST">
      {% csrf_token %}
      <a href="javascript:$('#allot_print').printArea()" class="btn btn-default">
	<span class="glyphicon glyphicon-print"></span>
	Print
      </a>
      &nbsp;|&nbsp;
      <select name="year" class="form-control">
	{%for year in years%}
	  <option value="{{year.year}}">{{year.year}}</option>
	{%endfor%}
      </select>
      <button class="btn btn-default">
	<span class="glyphicon glyphicon-search"></span>
      </button>
    </form>
    <hr/>
  </div>
  </br> </br></br>
  <div class="col-sm-12">
    
    {% if agencies_app_budget %}
    <div class="col-sm-12">
      <div class="col-sm-2">
	<img src="/static/images/rbmo.jpg" width="100px" height="100px">
      </div>
      <div class="col-sm-6 col-sm-offset-1">
	<center>
	  <p>
	  Republic of the Philippines</br>
	  <b>Autonomous Region in Muslim Mindanao</b></br>
	  <b>OFFICE OF THE REGIONAL GOVERNOR</b></br>
	  <i>Regional Budget Management Office</i></br>
	  ARMM Compound Cotabato City
	  </br></br>
	  <b>RLA APPROVED BUDGET</b></br>
	  CY {{year}}
	  </p>
	</center>
      </div>
      <div class="col-sm-2 col-sm-offset-1">
	<img src="/static/images/rbmo_logo.png" width="100px" height="100px">
      </div>
    </div>

    <table border="1" class="table-normal">
      {%load humanize%}
      <thead>
	  <th class="center" colspan="2">AGENCY/OFFICE</th>
	  <th class="decimal">PS</th>
	  <th class="decimal">MOOE</th>
	  <th class="decimal">CO</th>
	  <th class="decimal">Total</th>
      </thead>
      {% for agency in agencies_app_budget%}
      <tr>
	<td>{{agency.count}}</td>
	<td>{{agency.name}}</td>
	<td class="decimal">{{agency.ps|intcomma}}</td>
	<td class="decimal">{{agency.mooe|intcomma}}</td>
	<td class="decimal">{{agency.co|intcomma}}</td>
	<td class="decimal">{{agency.total|intcomma}}</td>
      </tr>
	{% endfor %}
      <tr>
	<th colspan="2">Grand Total</th>
	<th class="decimal">{{total_budget.total_ps|intcomma}}</th>
	<th class="decimal">{{total_budget.total_mooe|intcomma}}</th>
	<th class="decimal">{{total_budget.total_co|intcomma}}</th>
	<th class="decimal">{{total_budget.grand_total|intcomma}}</th>
      </tr>
    </table>
    </br></br>
    {% endif %}
    </div>
</div>
{%include "./admin/approved_budget_print.html"%}
{% endblock %}
{%block scripts%}
{%endblock%}

