<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-parent="#accordion" href="#cos_submission">Contract of Service Submission - {{year}}
      </a>
    </h4>
  </div>
  <div id="cos_submission" class="panel-collapse collapse">
    <div class="panel-body">
      <form action="/admin/submit_cos" method="POST">{%csrf_token%}
	<div class="form-group">
	  <input type="hidden" name="agency_id" value="{{agency.id}}">
	</div>
	<div class="checkbox">
	  <label>
	    <input type="checkbox" name="cos_submit">&nbsp;
	    Check this box if you receive Contract of Service today, then
	    submit
	  </label>
	</div>
	<div class="form-group">
	  <button type="submit" class="btn btn-primary">
	    Submit
	  </button>
	</div>
      </form>
      {% if cos_submitted %}
      <table class="table table-condensed table-bordered" >
	<thead>
	  <tr>
	    <th colspan="2">Contract of Service Submitted</th>
	  </tr>
	  <tr>
	    <th></th>
	    <th>Date Submitted</th>
	  </tr>
	</thead>

	{%for cos in cos_submitted%}
	<tbody>
	  <tr>
	    <td width="40px;">
	      <a href="/requirements/delete_cos_sub?cos_submit_id={{cos.id}}" title="Remove">
		<span class="glyphicon glyphicon-remove text-danger"></span>
	      </a>
	    </td>
	    <td>{{cos.date_submitted}}</td>
	  </tr>
	</tbody>
	{%endfor%}
      </table>
      {% endif %}
    </div>
  </div>
</div>
