<htmll>
  <head>
    <script type="text/javascript" src="/static/js/jQuery/jquery-1.9.1.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery.jqplot.1.0.8/jquery.jqplot.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery.jqplot.1.0.8/plugins/jqplot.pieRenderer.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.1.0.8/jquery.jqplot.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.1.0.8/jquery.jqplot.css" media="print"/>
    <script language="javascript" type="text/javascript" src="/static/js/reportcharts.js" ></script>

    <script language="javascript" type="text/javascript">
       $(document).ready(function(){
          var len = document.getElementsByName("sector_list");
          var data = []
          for(var i=0; i<len.length; i++){
	    var node = len.item(i);
	    id = node.firstChild.nodeValue;
	    label = $("#label"+id).text();
            value = new Number($("#value"+id).text());
	    data[i] = [label, value];
          }//end of for
          loadFundDistribution(data);

          window.print();
       });

    </script>
  </head>
  
  <body>
    <div style="width: 100%;">
      <div style="text-align:center; width: 100%">
	<h3>Regional Budget Management Office</br>
	  ORG Compound, Cotabato City
	</h3>
	<h3>{{year}} ARMM DUDGET DISTRIBUTION CHART</h3>
	<h4>As of {{today|date:"D d M Y"}}</h4>
      </div>

      {% if sectors %}
      <input type="hidden" id="sector_count" value="{{sectors|length}}">
      <table border="1" id="tbl" class="table-normal" style="display: none">
	{% for sector in sectors %}
	<tr>
	  <td id="label{{sector.id}}">{{sector.name}}&nbsp;({{sector.percent|floatformat}}%)</td>
	  <td id="value{{sector.id}}">{{sector.percent}}</td>
	</tr>
	{% endfor %}
      </table>
      <ul style="display:none">
	{% for sector in sectors %}
	<li name="sector_list">{{sector.id}}</li>
	{% endfor %}
      </ul>
      {% endif %}
      <div id="pie_chart" style="position: relative; width: 90%; min-height: 450px;">
      </div>
    </div>
  </body>
</html>
