<center>
  <h4>Monthly Physical and Financial Report of Operation</h4>
  <h5>For the month {{str_month}} - {{year}}</h5>
</center>

<table class="table-normal">
  {%load humanize%}
  <thead>
    <tr>
      <th colspan="9">{{agency.name}}</th>
    </tr>
    <tr>
      <th>Programs</th>
      <th>Indicators</th>
      <th>Target</th>
      <th>Acc.</th>
      <th>Var</th>
      <th class="center">Received</th>
      <th class="center">Incurred</th>
      <th class="center">UA</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    {%for acc in monthly_acts_reports%}
       <tr>
	 <td rowspan="{{acc.indicator_count}}">
	   {{acc.activity}}
	 </td>
	 <td></td>
	 <td></td>
	 <td></td>
	 <td></td>
	 <td class="decimal">
	   {{acc.received|intcomma}}
	 </td>
	 <td class="decimal">
	   {{acc.incurred|intcomma}}
	 </td>
	 <td class="decimal">{{acc.remaining}}</td>
	 <td rowspan="{{acc.indicator_count}}">{{acc.remarks}}</td>
       </tr>
       {%for indicator in acc.indicators_accs%}
          <tr>
	    <td>{{indicator.indicator}}</td>
	    <td>{{indicator.target}}</td>
	    <td>{{indicator.acc}}</td>
	    <td>{{indicator.variance}}</td>
	    <td></td>
	    <td></td>
	    <td></td>
	  </tr>
       {%endfor%}
    {%endfor%}

  </tbody>
</table>
