<table border="1" cell-padding="2" style="font-size:12px;">
  <thead>
    <tr>
      <th>Programs</th>
      <th>Performance Indicator</th>
      <th>Physical Target</th>
      <th>Accomplished</th>
      <th>variance</th>
      <th>Allotment Received</th>
      <th>Obligation Incurred</th>
      <th>Unobligated Allotment</th>
      <th>Remarks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>General Services</td>
      <td>No. of Reports submitted</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>183,100</td>
      <td>183,100</td>
      <td>0</td>
      <td>Well Done!</td>
    </tr>
    <tr>
      <td>General Services</td>
      <td>No. of Reports submitted</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>183,100</td>
      <td>183,100</td>
      <td>0</td>
      <td>Well Done!</td>
    </tr>
    <tr>
      <td>General Services</td>
      <td>No. of Reports submitted</td>
      <td>2</td>
      <td>2</td>
      <td>0</td>
      <td>183,100</td>
      <td>183,100</td>
      <td>0</td>
      <td>Citizen charter was already developed last quarter!</td>
    </tr>

  </tbody>
</table>
