{% extends "./admin/base.html" %}
{% block css%}
<script type="text/javascript" src="/static/js/list.js"></script>
{% endblock %}

{% block headerpage %}
<div class="container">
  <h3>{{agency.name}}</h3>
  <hr/>
</div>
{% endblock %}

{% block left-content %}
  {% include "./admin/agency_tabs.html" %}
{% endblock %}

{% block right-content %}
<div class="col-sm-9 right-content-left-border" style="min-height:500px;">
  <h4>Monthly Physical and Financial Report of Operation</h4>
  <a href="/admin/monthly_reports?agency_id={{agency.id}}">
    <span class="glyphicon glyphicon-arrow-left"></span>
    Back
  </a>
  <hr/>
  {% include "msg_pane.html" %}
  <form action="/admin/add_performance_report" method="post" class="form-horizontal">
    {%csrf_token%}
    <input type="hidden" name="action" value="{{action}}">
    <input type="hidden" name="agency_id" value="{{agency.id}}">

    <div class="form-group">
      <div class="col-sm-3 col-sm-offset-3">
	{{month_form.month}}
      </div>
      <div class="col-sm-2">
	<select name="year" class="form-control">
	  {%for yr in years%}
	  <option value="{{yr}}">{{yr}}</option>
	  {%endfor%}
	</select>
      </div>
      <div class="col-sm-1">
	<button type="button" class="btn btn-default">
	  <span class="glyphicon glyphicon-search"></span>
	</button>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3">Activity</label>
      <div class="col-sm-6">
	<select id="activity" name="activity" class="form-control" onchange="getPerformanceTarget()">
	  <option>-----Project/Activity-----</option>
	  {%for activity in activities%}
	  <option value="{{activity.id}}">{{activity.activity}}</option>
	  {%endfor%}
	</select>
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3">Allotment Received</label>
      <div class="col-sm-6">
	<input type="number" class="form-control" name="received" required="required">
      </div>
    </div>
    
    <div class="form-group">
      <label class="col-sm-3">Obligation Incurred</label>
      <div class="col-sm-6">
	<input type="number" class="form-control" name="incurred" required="required">
      </div>
    </div>

    <div class="form-group">
      <label class="col-sm-3">Remarks</label>
      <div class="col-sm-6">
	<textarea name="remarks" class="form-control"></textarea>
      </div>
    </div>

    <div id="performance" class="col-sm-12 panel panel-default">
      <h4>Accomplishment</h4>
      <p class="alert alert-info">
	Pls. Select an Activity
      </p>
    </div>
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
</div>
{% endblock %}
{%block scripts%}
<script type="text/javascript" src="/static/js/wfp_ajax.js"></script>
{%endblock%}

