<h3>Physical Target</h3>
<table class="table table-condensed table-striped">
  <tr>
    <th>
      Performance Indicator
    </th>

    <th>
      Target
    </th>

    <th>
      Accomplished
    </th>
    <th style="text-align:right;">
      Variance
    </th>

  </tr>
  {% if perf_targets %}
  {% for target in perf_targets %}
  <tr>
    <input type="hidden" name="pt_ids[]" value="{{target.id}}">
    <td>{{target.indicator}}</td>
    <td id="target{{target.id}}">{{target.target}}</td>
    <td width="20px" style="text-align: right">
      <input type="text" id="{{target.id}}" name="{{target.id}}" style="width:60px;" required="True" onkeyup="showVariance({{target.id}})">
    </td>
    <td id="variance{{target.id}}" style="text-align: right;">{{accomplished.variance}}</td>
  </tr>
  {% endfor %}
  {% endif %}
</table>

