{% extends "./admin/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="col-sm-7 col-sm-offset-2">
    <form action="#" class="form-inline" method="POST">{%csrf_token%}
      <div class="form-group">
	<select name="allocation" class="form-control">
	  <option value="PS">PS</option>
	  <option value="MOOE">MOOE</option>
	  <option value="CO">CO</option>
	</select>
      </div>
      <div class="form-group">
	{{month_select.month}}
      </div>
      <div class="form-group">
	<button type="submit" class="btn btn-default">
	  <span class="glyphicon glyphicon-search"></span>
	</button>
      </div>
    </form>
    <hr/>
  </div>
  </br></br>
  <div class="col-sm-7 col-sm-offset-2"> 

    {%if agencies%}
    <center>
      <h4>Schedule of Monthly Cash Allocation</h4>
      <h5>For the month {{month_str}}-{{year}}</h5>
      <h5>As of {{cur_date}}</h5>
    </center>
      <table class="table-normal">
	{% load humanize %}
	<thead>
	  <caption><b>Total: {{total}} agencie(s)</b></caption>
	  <tr>
	    <th colspan="2" rowspan="2" class="center">Agencies</th>
	    <th>{{month}} {{year}}</th>
	  </tr>
	  <tr>
	    <th>PS</th>
	  </tr>
	</thead>
        {% for agency in agencies %}
        <tr>
	  <td width="30px" align="center"></td>
	  <td>{{agency.name}}</td>
	  <td>{{agency.amount|intcomma}}</td>
	</tr>
        {% endfor %}
      </table>
    {%else%}
      <div class="alert alert-info">
	Currently no agencies have completed the requirements for this month
      </div>
      </div>
    {%endif%}
  </div>
</div>
{% endblock %}

{%block scripts%}

{%endblock%}

