{% extends "./admin/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  <div class="col-sm-7 col-sm-offset-2">
    <form action="/admin/smca" class="form-inline" method="POST">{%csrf_token%}
      <div class="form-group">
	{{search_form.allocation}}
      </div>
      <div class="form-group">
	{{search_form.month}}
      </div>
      <div class="form-group">
	<select name="year" class="form-control">
	  {% for yr in years %}
	  <option values="{{yr}}" {%if yr == year %} selected {%endif%}>{{yr}}</option>
	  {% endfor %}
	</select>
      </div>

      <div class="form-group">
	<button type="submit" class="btn btn-default">
	  <span class="glyphicon glyphicon-search"></span>
	</button>
      </div>
    </form>
    <hr/>
  </div>
  </br></br>
  <div class="col-sm-7 col-sm-offset-2"> 

    {%if agencies%}
    <center>
      <h4>Schedule of Monthly Cash Allocation</h4>
      <h5>For the month {{str_month}}-{{year}}</h5>
      <h5>As of {{cur_date}}</h5>
    </center>
      <table class="table-normal">
	{% load humanize %}
	<thead>
	  <caption><b>Total: {{total}} agencie(s)</b></caption>
	  <tr>
	    <th colspan="2" rowspan="2" class="center">Agencies</th>
	    <th class="center">{{str_month}} {{year}}</th>
	  </tr>
	  <tr>
	    <th class="center">{{allocation}}</th>
	  </tr>
	</thead>
        {% for agency in agencies %}
        <tr>
	  <td width="30px" align="center">{{agency.no}}</td>
	  <td>{{agency.agency}}</td>
	  <td class="decimal">{{agency.amount|intcomma}}</td>
	</tr>
        {% endfor %}
      </table>
    {%else%}
      <div class="alert alert-info">
	Currently no agencies have completed the requirements for this month
      </div>
      </div>
    {%endif%}
  </div>
</div>
{% endblock %}

{%block scripts%}

{%endblock%}

