{% extends "./admin/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div class="container">
  <center>
    <h3>Total Monthly {{allocation}} Releases for FY {{year}} </h3>
  </center>
  <div class="col-sm-12">
    <form class="form-inline" ction="/admin/total_monthly_release" method="POST">
      {% csrf_token %}
      <a href="javascript:$('#allot_print').printArea()" class="btn btn-default">
	<span class="glyphicon glyphicon-print"></span>
	Print
      </a>
      &nbsp;|&nbsp;
      <label>
	<input type="radio" name="allocation" value="PS" aria-label="PS" {%if allocation == "PS" %} selected="True" {% endif %}>
	&nbsp;PS
      </label>&nbsp;
      <label>
	<input type="radio" name="allocation" value="MOOE" aria-label="MOOE" {%if allocation == "MOOE" %} selected="True" {% endif %}>
	&nbsp;MOOE
      </label>&nbsp;
      <label>
	<input type="radio" name="allocation" value="CO" aria-label="CO" {%if allocation == "CO" %} selected="True" {% endif %}>
	&nbsp;CO
      </label>&nbsp;
      <select name="year" class="form-control">
	{%for year in years%}
	  <option value="{{year.year}}">{{year.year}}</option>
	{%endfor%}
      </select>
      <button class="btn btn-default">
	<span class="glyphicon glyphicon-search"></span>
      </button>
    </form>
  </div>
  </br> </br>
  <div class="col-sm-12" id="allot_print">
      
    {% if agency_monthly_releases %}
    <table border="1" class="table-normal">
      {%load humanize%}
      <thead>
	<tr>
	  <th colspan="2" class="center">Agency/Office</th>
	  <th class="center">Jan</th>
	  <th class="center">Feb</th>
	  <th class="center">Mar</th>
	  <th class="center">Apr</th>
	  <th class="center">May</th>
	  <th class="center">Jun</th>
	  <th class="center">Jul</th>
	  <th class="center">Aug</th>
	  <th class="center">Sept</th>
	  <th class="center">Oct</th>
	  <th class="center">Nov</th>
	  <th class="center">Dec</th>
	  <th class="center">Total</th>
	</tr>
      </thead>
      {% for agency in agency_monthly_releases%}
      <tr>
	<td>{{agency.no}}</td>
	<td>{{agency.name}}</td>
	<td class="decimal">{{agency.jan|intcomma}}</td>
	<td class="decimal">{{agency.feb|intcomma}}</td>
	<td class="decimal">{{agency.mar|intcomma}}</td>
	<td class="decimal">{{agency.apr|intcomma}}</td>
	<td class="decimal">{{agency.may|intcomma}}</td>
	<td class="decimal">{{agency.jun|intcomma}}</td>
	<td class="decimal"> {{agency.jul|intcomma}}</td>
	<td class="decimal">{{agency.aug|intcomma}}</td>
	<td class="decimal">{{agency.sept|intcomma}}</td>
	<td class="decimal">{{agency.oct|intcomma}}</td>
	<td class="decimal">{{agency.nov|intcomma}}</td>
	<td class="decimal">{{agency.dec|intcomma}}</td>
	<td class="decimal">{{agency.total|intcomma}}</td>
      </tr>
	{% endfor %}
      <tr>
	<th colspan="2">Grand Total</th>
	<th class="decimal">{{total_monthly_releases.jan|intcomma}}</th>
	<th class="decimal">{{total_monthly_releases.feb|intcomma}}</th>
	<th class="decimal">{{total_monthly_releases.mar|intcomma}}</th>
	<th class="decimal">{{total_monthly_releases.apr|intcomma}}</th>
	<th class="decimal">{{total_monthly_releases.may|intcomma}}</th>
	<th class="decimal">{{total_monthly_releases.jun|intcomma}}</th>
	<th class="decimal">{{total_monthly_releases.jul|intcomma}}</th>
	<th class="decimal">{{total_monthly_releases.aug|intcomma}}</th>
	<th class="decimal">{{total_monthly_releases.sept|intcomma}}</th>
	<th class="decimal">{{total_monthly_releases.oct|intcomma}}</th>
	<th class="decimal">{{total_monthly_releases.nov|intcomma}}</th>
	<th class="decimal">{{total_monthly_releases.dec|intcomma}}</th>
	<th class="decimal">{{grand_total|intcomma}}</th>
      </tr>
    </table>
    {% endif %}
    </div>
</div>
{% endblock %}
{%block scripts%}
{%endblock%}

