<!-- Modal -->
<div class="modal" id="transmittalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Transmittal Letter Details Form</h4>
      </div>
      <form action="javascript:$('#trans_let_id').printArea()" class="form-horizontal" onsubmit="javascript:setContentTLetter()">
	<div class="modal-body">
	  <div class="form-group">
	    <label class="col-sm-2">To: </label>
	    <div class="col-sm-10">
	      <input type="text" id="reg_treasurer" name="reg_treasurer" class="form-control" placeholder="Regional Treasurer" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-2">Attention:</label>
	    <div class="col-sm-10">
	      <input type="text" name="fiscal" id="fiscal" placeholder="Fiscal Examiner" class="form-control" required>
	    </div>
	  </div>
	  <div class="form-group">
	    <textarea class="widgEditor nothing" id="content" name="content"><p>
		SIR/MAAM:</br></br>
	    </p>
	      <p>
		{%load humanize%}
		Assalamu Alaikom Waramatullahi Wabarakatuhu!</br>
		Respectfully forwarding herewith the attached <b>Schedule of Monthly Cash Allocation</b> of <b>{{allocation_str}}</b> for the month of {{str_month}}, {{year}} with a total amount of <b>Php. {{total|intcomma}}.</b></br></br>
		Submitted for your information and guidance.
		</br></br>
		Shukran and Wassalam.
		</br></br></br>
		Respectfully yours,
	      </p>
	    </textarea>
	  </div>
	  <div class="form-group">
	    <label class="col-sm-3">
	      Executive Director
	    </label>
	    <div class="col-sm-9">
	      <input type="text" id="oic" name="oic" class="form-control" placeholder="OIC, Executive Director" required>
	    </div>
	  </div>
	</div>
	<div class="modal-footer">
          <button type="button" id="pi_close_modal" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Print</button>
	</div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
