{%extends "./admin/base.html" %}

{% block css %}
{% endblock %}

{% block left-content %}
  {% include "./admin/agency_tabs.html" %}
{% endblock %}

{% block right-content %}
<div class="col-sm-9" style="min-height: 500px; background-color: white;">
  <h3>{{agency.name}}</h3>
  <hr/>
  <div class="col-sm-12">
    <h4>Allotment Releases</h4>
    <hr/>
    {% include "msg_pane.html" %}
    <form class="form-inline">
      <a href="/agency/fund/fund_release?agency_id={{agency.id}}" class="btn btn-primary">
        <span class="glyphicon glyphicon-plus-sign"></span>
          Allotment Release
      </a>
      &nbsp;|&nbsp;
      <a href="javascript:$('#allotment_releases_print').printArea()" class="btn btn-primary">
	<span class="glyphicon glyphicon-print"></span>
	Print
      </a>
    </form>
    <br />
    <table class="table-normal">
	{%load humanize%}
	<thead>
      	  <tr>
	    <th></th>
	    <th></th>
      	    <th>DATE</th>
      	    <th>ADA NO.</th>
      	    <th>PARTICULARS</th>
      	    <th>PS</th>
      	    <th>MOOE</th>
      	    <th>CO</th>
      	    <th>TOTAL RELEASES</th>
      	    <th>REMAINING BALANCE</th>
      	  </tr>
          <tr>
            <th colspan="5">APPROVED APPROPRIATON</th>
            <th style="text-align:right">{{ wfp_data_PS.total_sum|intcomma }}</th>
            <th style="text-align:right">{{ wfp_data_MOOE.total_sum|intcomma }}</th>
            <th style="text-align:right">{{ wfp_data_CO.total_sum|intcomma }}</th>
            <th></th>
            <th style="text-align:right">{{ remaining_balance|intcomma }}</th>
          </tr>
	</thead>
	<tbody>
      	  <tr style="font-weight: bold;">
      	    <td colspan="5">ALLOTMENT RELEASES</td>
      	    <td></td>
      	    <td></td>
      	    <td></td>
      	    <td></td>
      	    <td></td>
      	</tr>
          {% for key, value in allotments.items %}
	  <tr>
	    <td><a href="/agency/fund/fund_release?agency_id={{agency.id}}&release_id={{value.id}}&action=edit"><span class="glyphicon glyphicon-edit text-primary"></span></a></td>
	    <td><a href="javascript:confirmDeleteFundRelease('{{value.id}}', '{{value.ada_no}}')"><span class="glyphicon glyphicon-remove text-danger"></span></a></td>
	    <td>{{ value.date_release|date:"d M" }}</td>
	    <td>{{ value.ada_no }}</td>
	    <td>{{ value.particulars }}</td>
	    
	    {% if value.allocation.name == 'PS' %}
	    <td style="text-align:right">{{ value.allocation.amount_release|intcomma }}</td>
	    <td></td>
	    <td></td>
	    {% elif value.allocation.name == 'MOOE' %}
	    <td></td>
	    <td style="text-align:right">{{ value.allocation.amount_release|intcomma }}</td>
	    <td></td>
	    {% else %}
	    <td></td>
	    <td></td>
	    <td style="text-align:right">{{ value.allocation.amount_release|intcomma }}</td>
	    {% endif %}
	    
	    <td style="text-align:right">{{ value.total_release|intcomma }}</td>
	    <td style="text-align:right">{{ value.remaining_balance|intcomma }}</td>	
	  </tr>
          {% endfor %}
	</tbody>
	<tfoot>
      	  <tr style="font-weight: bold;">
        	<td colspan="5">TOTAL RELEASES</td>
        	<td style="text-align:right">{{ total_PS|intcomma }}</td>
        	<td style="text-align:right">{{ total_MOOE|intcomma }}</td>
        	<td style="text-align:right">{{ total_CO|intcomma }}</td>
        	<td style="text-align:right">{{ total_release|intcomma }}</td>
        	<td></td>
        </tr>
          <tr  style="font-weight: bold;">
            <td colspan="5">TOTAL BALANCE</td>
            <td style="text-align:right">{{ total_PS_balance|intcomma }}</td>
            <td style="text-align:right">{{ total_MOOE_balance|intcomma }}</td>
            <td style="text-align:right">{{ total_CO_balance|intcomma }}</td>
            <td></td>
            <td style="text-align:right">{{ total_remaining_balance|intcomma }}</td>
          </tr>
	</tfoot>
      </table>
  </div>
</div>

{%include "./fund/allotment_releases_print.html"%}

{% endblock %}
  
{% block scripts %}
<script type="text/javascript">
  function confirmDeleteFundRelease(release_id, ada_no){
     var rs = confirm("Are you sure to delete Allotment Release with ada no. "+ada_no+"?"); 
     if (rs==1){
       window.location = "/agency/fund/del_fund_release?release_id="+release_id;
     }
  }
</script>
{% endblock %}
  
