{%extends "./admin/base.html" %}

{% block css %}
{% endblock %}

{%block headerpage%}
<div class="container">
  <h2>{{agency.name}}</h2>
  <hr/>
</div>
{%endblock%}

{% block left-content %}
  {% include "./admin/agency_tabs.html" %}
{% endblock %}

{% block right-content %}
<div class="col-sm-9">
  <div class="col-sm-12"><!---style="background-color: rgba(204,204,204,.4)"-->
    <h3>Allotment Releases</h3>
    <hr/>
    {% include "msg_pane.html" %}
    <form class="form-inline">
      <a href="/agency/fund/fund_release?agency_id={{agency.id}}">
        <span class="glyphicon glyphicon-plus-sign"></span>
          Allotment Release
      </a>
      &nbsp;|&nbsp;
      <a href="">
	<span class="glyphicon glyphicon-print"></span>
	Print
      </a>
    </form>
    <br />
   <table class="table-normal">
     {%load humanize%}
      <thead>
      	<tr>
      	  <th>DATE</th>
      	  <th>ADA NO.</th>
      	  <th>PARTICULARS</th>
      	  <th>PS</th>
      	  <th>MOOE</th>
      	  <th>CO</th>
      	  <th>TOTAL RELEASES</th>
      	  <th>REMAINING BALANCE</th>
      	</tr>
        <tr>
          <th colspan="3">APPROVED APPROPRIATON</th>
          <th>{{ wfp_data_PS.total_sum|intcomma }}</th>
          <th>{{ wfp_data_MOOE.total_sum|intcomma }}</th>
          <th>{{ wfp_data_CO.total_sum|intcomma }}</th>
          <th></th>
          <th>{{ remaining_balance|intcomma }}</th>
        </tr>
      </thead>
      <tbody>
      	<tr style="font-weight: bold;">
      		<td colspan="3">ALLOTMENT RELEASES</td>
      		<td></td>
      		<td></td>
      		<td></td>
      		<td></td>
      		<td></td>
      	</tr>
        {% for key, value in allotments.items %}
	        <tr>
	          <td>{{ value.date_release|date:"d M" }}</td>
	          <td>{{ value.ada_no }}</td>
	          <td>{{ value.particulars }}</td>
	
	          {% if value.allocation.name == 'PS' %}
	            <td>{{ value.allocation.amount_release|intcomma }}</td>
	            <td></td>
	            <td></td>
	          {% elif value.allocation.name == 'MOOE' %}
	            <td></td>
	            <td>{{ value.allocation.amount_release|intcomma }}</td>
	            <td></td>
	          {% else %}
	          	<td></td>
	          	<td></td>
				<td>{{ value.allocation.amount_release|intcomma }}</td>
			  {% endif %}
			  
	          <td>{{ value.total_release|intcomma }}</td>
	          <td>{{ value.remaining_balance|intcomma }}</td>	
	        </tr>
        {% endfor %}
      </tbody>
      <tfoot>
      	<tr style="font-weight: bold;">
        	<td colspan="3">TOTAL RELEASES</td>
        	<td>{{ total_PS }}</td>
        	<td>{{ total_MOOE }}</td>
        	<td>{{ total_CO }}</td>
        	<td>{{ total_release }}</td>
        	<td></td>
        </tr>
        <tr  style="font-weight: bold;">
        	<td colspan="3">TOTAL BALANCE</td>
        	<td>{{ total_PS_balance|intcomma }}</td>
        	<td>{{ total_MOOE_balance|intcomma }}</td>
        	<td>{{ total_CO_balance|intcomma }}</td>
        	<td></td>
        	<td>{{ total_remaining_balance|intcomma }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/fund_ajax.js"></script>
{% endblock %}
