<div class="col-sm-12" id="allotment_releases_print" style="display: none">
  <div class="col-sm-12" style="text-align: center">
    <h4>STATUS OF CY{{year}} ALLOTMENT RELEASES</h4>
    <h5>As of {{today}}</h5>
    <h5>(In Pesos)</h5>
  </div>
  
  <div class="col-sm-12">
    <p><b>AGENCY: {{agency.name}}</b></p>
  </div>
  
  <div class="col-sm-12">
    <table class="table-normal" style="font-size: 10px;">
      {%load humanize%}
      <thead>
      	<tr>
      	  <th>DATE</th>
      	  <th>ADA NO.</th>
      	  <th>PARTICULARS</th>
      	  <th>PS</th>
      	  <th>MOOE</th>
      	  <th>CO</th>
      	  <th>TOTAL RELEASES</th>
      	  <th>REMAINING BALANCE</th>
      	</tr>
        <tr>
          <th colspan="3">APPROVED APPROPRIATON</th>
          <th style="text-align:right">{{ wfp_data_PS.total_sum|intcomma }}</th>
          <th style="text-align:right">{{ wfp_data_MOOE.total_sum|intcomma }}</th>
          <th style="text-align:right">{{ wfp_data_CO.total_sum|intcomma }}</th>
          <th></th>
          <th style="text-align:right">{{ remaining_balance|intcomma }}</th>
        </tr>
	</thead>
      <tbody>
      	<tr style="font-weight: bold;">
      	  <td colspan="3">ALLOTMENT RELEASES</td>
      	  <td></td>
      	  <td></td>
      	  <td></td>
      	  <td></td>
      	  <td></td>
      	</tr>
        {% for releases in allotments%}
	<tr>
	  <td>{{ releases.date_release|date:"d M" }}</td>
	  <td>{{ releases.ada_no }}</td>
	  <td>{{ releases.particulars }}</td>
	  
	  {% if releases.allocation.name == 'PS' %}
	  <td style="text-align:right">{{ releases.allocation.amount_release|intcomma }}</td>
	  <td></td>
	  <td></td>
	  {% elif releases.allocation.name == 'MOOE' %}
	  <td></td>
	  <td style="text-align:right">{{ releases.allocation.amount_release|intcomma }}</td>
	  <td></td>
	  {% else %}
	  <td></td>
	  <td></td>
	  <td style="text-align:right">{{ releases.allocation.amount_release|intcomma }}</td>
	  {% endif %}
	  
	  <td style="text-align:right">{{ releases.total_release|intcomma }}</td>
	    <td style="text-align:right">{{ releases.remaining_balance|intcomma }}</td>	
	</tr>
        {% endfor %}
      </tbody>
      <tfoot>
      	<tr style="font-weight: bold;">
          <td colspan="3">TOTAL RELEASES</td>
          <td style="text-align:right">{{ total_PS|intcomma }}</td>
          <td style="text-align:right">{{ total_MOOE|intcomma }}</td>
          <td style="text-align:right">{{ total_CO|intcomma }}</td>
          <td style="text-align:right">{{ total_release|intcomma }}</td>
          <td></td>
        </tr>
        <tr  style="font-weight: bold;">
          <td colspan="3">TOTAL BALANCE</td>
          <td style="text-align:right">{{ total_PS_balance|intcomma }}</td>
          <td style="text-align:right">{{ total_MOOE_balance|intcomma }}</td>
          <td style="text-align:right">{{ total_CO_balance|intcomma }}</td>
          <td></td>
          <td style="text-align:right">{{ total_remaining_balance|intcomma }}</td>
        </tr>
      </tfoot>
    </table>
    <div class="col-sm-12">
      <span style="position: absolute;left: 10px; top: 20px;width: 250px;">
	<strong>Processed by:</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{user.get_full_name}}<strong>
      </span>

      <span style="position: absolute;left: 70%; top: 20px;width: 30%;">
	<strong>Validated by:</strong></br>&nbsp;&nbsp;&nbsp;&nbsp;___________________
	</br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Budget Specialist
      </span>
    </div>
  </div>
</div>
