<div class="col-sm-12" style="display: none" id="trans_note">
  {%load humanize%}
  <div class="col-sm-12">
    <center><u><h3>NOTICE</h3></u></center>
  </div>
  </br>
  <div class="col-sm-12">
    <p>{{cur_date}}</p>
  </div>
  </br>
  <div class="col-sm-12">
    <b>To: {{agency.name}}</b>
  </div>
  </br>
  <div class="col-sm-12" id="content_letter">
  </div>
  </br></br>
  <div class="col-sm-12">
    <p>
      <b><span id="oic_letter"></span></b></br>
      OIC, Executive Director
    </p>
  </div>
</div>
