<div class="col-sm-12" id="running_balance_print" style="display:none">
    <div style="position:relative; width: 100%; height: 200px;">
      <div style="position:absolute;left: 30px; top:0px; width: 150px;">
	<img src="/static/images/rbmo.jpg" width="100px" height="100px">
      </div>
      <div style="position: absolute; left: 180px; top:0px; width:330px;text-align:center">
   	<p>
	  Republic of the Philippines</br>
	  <b>Autonomous Region in Muslim Mindanao</b></br>
	  <b>OFFICE OF THE REGIONAL GOVERNOR</b></br>
	  <i>Regional Budget Management Office</i></br>
	  ARMM Compound Cotabato City
	  </br></br>
	  <b>BALANCES</b></br>
	  As of {{today}}</br>
	</p>
      </div>
      <div style="position: absolute; top:0px; left: 550px; width:150px;">
	<img src="/static/images/rbmo_logo.png" width="100px" height="100px">
      </div>
    </div>
    <div class="col-sm-12">
      <table class="table-normal">
	<thead>
	  <th class="center" colspan="2">AGENCY/OFFICE</th>
	  <th class="center">PS</th>
	  <th class="center">MOOE</th>
	  <th class="center">CO</th>
	  <th class="center">TOTAL</th>
	</thead>
	<tbody>
	  {% load humanize %}
	  {%if line_agencies%}
          <tr>
	    <th colspan="6">Line Agencies</th>
	  </tr>
	  {%endif%}
	  {%for agency in line_agencies %}
          <tr>
	   <td>{{agency.count}}</td>
	   <td>{{agency.agency_name}}</td>
	   <td class="decimal">{{agency.ps|intcomma}}</td>
	   <td class="decimal">{{agency.mooe|intcomma}}</td>
	   <td class="decimal">{{agency.co|intcomma}}</td>
	   <td class="decimal">{{agency.balance|intcomma}}</td>
	  </tr>
	  {%for sub_agency in agency.sub_agencies%}
	   <tr>
	     <td></td>
	     <td>{{sub_agency.count}}&nbsp;{{sub_agency.agency_name}}</td>
	     <td class="decimal">{{sub_agency.ps|intcomma}}</td>
	     <td class="decimal">{{sub_agency.mooelease|intcomma}}</td>
	     <td class="decimal">{{sub_agency.co|intcomma}}</td>
	     <td class="decimal">{{sub_agency.balance|intcomma}}</td>
	   </tr>
	   {%endfor%}
	   {% endfor %}
	   <!----- locally funded agencies --->
	   {%if local_agencies%}
          <tr>
	    <th colspan="6">Local Agencies</th>
	 </tr>
	  {%endif%}
	  {%for agency in local_agencies %}
          <tr>
	    <td>{{agency.count}}</td>
	    <td>{{agency.agency_name}}</td>
	    <td class="decimal">{{agency.ps|intcomma}}</td>
	    <td class="decimal">{{agency.mooe|intcomma}}</td>
	    <td class="decimal">{{agency.co|intcomma}}</td>
	    <td class="decimal">{{agency.balance|intcomma}}</td>
	  </tr>
	  {%for sub_agency in agency.sub_agencies%}
	  <tr>
	     <td></td>
	     <td>{{sub_agency.count}}&nbsp;{{sub_agency.agency_name}}</td>
	     <td class="decimal">{{sub_agency.ps|intcomma}}</td>
	     <td class="decimal">{{sub_agency.mooe|intcomma}}</td>
	     <td class="decimal">{{sub_agency.co|intcomma}}</td>
	     <td class="decimal">{{sub_agency.balance|intcomma}}</td>
	  </tr>
	  {%endfor%}
	  {% endfor %}
	  <tr>
	    <th colspan="2">GRAND TOTAL</th>
	    <th class="decimal">{{total_sum.total_ps|intcomma}}</th>
	    <th class="decimal">{{total_sum.total_mooe|intcomma}}</th>
	    <th class="decimal">{{total_sum.total_co|intcomma}}</th>
	    <th class="decimal">{{total_sum.total_balance|intcomma}}</th>
	  </tr>
	</tbody>
      </table>
      {%include "table_print_footer.html"%}
    </div>
</div>
