{% extends "./admin/base.html" %}

{%block right-content%}
<div class="col-sm-12">
  <form class="form-inline">
    <a href="javascript:$('#running_balance_print').printArea()" class="btn btn-default">
      <span class="glyphicon glyphicon-print"></span>&nbsp;Print
    </a>
    &nbsp;|&nbsp;
    <div class="form-group">
      <select class="form-control">
	{% for year in years %}
	<option value="{{year.year}}">{{year.year}}</option>
	{% endfor %}
      </select>
    </div>
    <button type="submit" class="btn btn-default">
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </form>
  <hr/>
</div>
<div class="col-sm-12">
  <div class="col-sm-12">
    <div class="col-sm-2">
      <img src="/static/images/rbmo.jpg" width="100px" height="100px">
      </div>
    <div class="col-sm-6 col-sm-offset-1">
      <center>
	<p>
	  Republic of the Philippines</br>
	  <b>Autonomous Region in Muslim Mindanao</b></br>
	  <b>OFFICE OF THE REGIONAL GOVERNOR</b></br>
	  <i>Regional Budget Management Office</i></br>
	  ARMM Compound Cotabato City
	  </br></br>
	  <b>BALANCES</b></br>
	  As of {{today}}</br>
	</p>
	</center>
      
    </div>
    <div class="col-sm-2 col-sm-offset-1">
      <img src="/static/images/rbmo_logo.png" width="100px" height="100px">
    </div>
  </div>

  <table class="table-normal">
    <thead>
      <th class="center" colspan="2">AGENCY/OFFICE</th>
      <th class="center">APPROVED</th>
      <th class="center">RELEASE</th>
      <th class="center">BALANCES</th>
    </thead>
    <tbody>
      {% load humanize %}
      {%for bal in balances %}
      <tr>
	<td></td>
	<td>{{bal.agency_name}}</td>
	<td class="decimal">{{bal.budget|intcomma}}</td>
	<td class="decimal">{{bal.release|intcomma}}</td>
	<td class="decimal">{{bal.balance|intcomma}}</td>
      </tr>
      {% endfor %}
      <tr>
	<th colspan="2">GRAND TOTAL</th>
	<th class="decimal">{{total_sum.total_budget|intcomma}}</th>
	<th class="decimal">{{total_sum.total_release|intcomma}}</th>
	<th class="decimal">{{total_sum.total_balance|intcomma}}</th>
      </tr>
    </tbody>
  </table>
  </br></br>
</div>
{%include "./fund/running_balances_print.html"%}
{%endblock%}
