<div class="col-sm-12" style="display: none" id="transmittal">
  {%load humanize%}
  <div class="col-sm-12">
    <!--armm logo-->
    <div class="col-sm-3">
      <!--<img src="/static/images/rbmo.jpg" style="position:absolute; width:80px; height:80px;">-->
    </div>
    <!--header text-->
    <div class="col-sm-6" style="text-align:center">
      <div>
	Republic of the Philippines</br>
	Autonomous Region in Mulslim Mindanao</br>
	Office of the Regional Governor</br>
	<b>REGIONAL BUDGET AND MANAGEMENT OFFICE</b></br>
	Cotabato City</br>
	Tel No.(064) 390-3416</br>
      </div>
    </div>
    <div class="col-sm-3">
      <!--<img src="/static/images/rbmo.jpg" style="position:absolute;width:80px;height:80px">-->
    </div>
    <hr/>
  </div>
  <div class="col-sm-10 col-sm-offset-1">
    <p>
      {{today}}</br></br>
      <b><span id="address_to_name"></span></b></br>
      Regional Treasurer</br>
      ORT-ARMM</br>
	</br></br></br>
	<b>SIR/MAAM:</b>
	</br></br>
	Assalamu Alaikom Waramatullahi Wabarakatuhu!</br>
	Respectfully forwarding herewith the Schedule of Monthly Cash Allocation of </br> for the month of January 2014 dated {{today}}. This is in addition to the transmittal of Schedule of Monthly Cash Allocation dated {{today}}.</br></br>
	Submitted for your information and guidance.<br></br>
	Shukran and Wassalam.</br></br></br></br>
	Respectfully yours,</br></br></br>
	<u>MAILYN E. MACUSANG</u></br>
	Exceutive Director
    </p>
  </div>
</div>
