<!DOCTYPE html>

<html>

<head>
	
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" media="screen"/>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" media="print"/>
	
	<link rel="stylesheet" href="/static/css/rbmo.css" media="screen" />
	<link rel="stylesheet" href="/static/css/rbmo.css" media="print" />
	<link rel="stylesheet" href="/static/widgEditor/css/widgEditor.css" media="print"/>
	<link rel="stylesheet" href="/static/widgEditor/css/widgEditor.css" media="screen"/>
	<script type="text/javascript" src="/static/js/jQuery/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/jquery.PrintArea.js_4.js"></script>
	<script type="text/javascript" src="/static/widgEditor/scripts/widgEditor.js"></script>
  	
	{% block css %}{% endblock %}
	<title>
	  {%block title%}{%endblock%}
	</title>
</head>

<body>
  <nav class="navbar navbar-inverse" role="navigation" style="border-radius:0">
    <div class="container">      
      <div class="navbar-header">
        <a class="navbar-brand" href="#">  {{system_name}}</a>
      </div>
    
      <div class="collapse navbar-collapse" id="pis-navbar">
        <ul class="nav navbar-nav">
        {% block navbar_li %}{% endblock %}
        </ul>
       
        <ul class="nav navbar-nav navbar-right">
	  <a class="navbar-brand">  </a>
	  {% if user.get_full_name %}
          <li class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
	       {{user.get_full_name}} {{ email }}<span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	      <li><a href="/admin/change_password">Change Password</a></li>
	      <li><a href="/logout">Logout</a></li>
	    </ul>
	  </li>
	  {% endif %}
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>	
	
  {%block content%}
  {%endblock%}
  {% block scripts %}
  {% endblock scripts %}
</body>
</html>
